.r-dot, .p-dot, .r-outline, .p-outline, .y-outline {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 1.25px;
}

.r-fill, .p-fill, .y-fill {
    fill: white;
}

@keyframes logo-y-hover {
    0% {
        scale: 1;
    }
    20% {
        scale: 1.07;
    }
    40% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}
@keyframes logo-p-hover {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(0px, 0px);
    }
    30% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes logo-r-hover {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(2px, 2px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

// Main Logo
.line-y{
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:4px;
    fill:none;
    stroke-linejoin:round;
    stroke-dasharray: 2200;
    animation: drawy 4s 0.3s infinite alternate both;
}
@keyframes drawy{
    from{
        stroke-dashoffset: 2200;
    }
    to{
        stroke-dashoffset: 0;
    }
}

.line-p{
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:4px;
    fill:none;
    stroke-linejoin:round;
    stroke-dasharray: 1100;
    animation: drawp 4s 0.3s infinite alternate both;
}
@keyframes drawp{
    0%{
        stroke-dashoffset: -1100;
    }
    70%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.line-r{
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:4px;
    fill:none;
    stroke-linejoin:round;
    stroke-dasharray: 1400;
    animation: drawr 4s 0.3s infinite alternate both;
}
@keyframes drawr{
    0%{
        stroke-dashoffset: 1400;
    }
    27%{
        stroke-dashoffset: 1400;
    }
    73%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 400;
    }
}

.line-p-accent {
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:3px;
    fill:none;
    stroke-linejoin:round;
    stroke-dasharray: 1100;
    animation: drawp 4s 0.3s infinite alternate both;
}

.line-r-accent {
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:3px;
    fill:none;
    stroke-linejoin:round;
    stroke-dasharray: 1000;
    animation: drawr 4s 0.3s infinite alternate both;
}



.base-y{
    stroke-width:0;
    fill: transparent;
    
}
@keyframes basey {
    0% {
        opacity: 0%;
    }
    18% {
        opacity: 0%;
    }
    23% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

.base-p{
    stroke-width:0;
    fill:transparent;
}
@keyframes basep {
    0% {
        opacity: 0%;
        transform: translate(-5px, -5px);
    }
    26% {
        opacity: 0%;
        transform: translate(-5px, -5px);
    }
    31% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 100%;
        transform: translate(0,0);
    }
}

.base-r{
    stroke-width:0;
    fill:transparent;
}
@keyframes baser {
    0% {
        opacity: 0%;
        transform: translate(-5px, -5px);
    }
    34% {
        opacity: 0%;
        transform: translate(-5px, -5px);
    }
    39% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 100%;
        transform: translate(0,0);
    }
}

body {
    background-color: black;
    margin: 0%;
}

// .svg-wrap {
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;
//     z-index: 10;
//     & svg {
//         z-index: 10;
//     }
// }

.landing-h {
    font-family: 'Qanelas';
    position: absolute;
    margin-top: 33%;
    font-size: 48px;
    color: white;
}


.mainbg-wrap {
    position: fixed;
    width: 100vw;
    height: 100%;
    /* max-height: 100vh; */
    margin: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainbg-mask {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.mainbg {
    width: 100%;
    height: 100%;
    mask: url('../masks/inkmask.png');
    mask-size: 3300% 100%;
    border: none;
    font-family: 'Archivo Black';
    font-size: 24px;
    background-color: black;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    /* animation: main-ani01 4s steps(32) infinite alternate both; */
    animation: main-ani02 4s 0.3s steps(32) both;
}
@keyframes main-ani01 {
    0% {
        mask-position: 0 0;
    }
    7% {
        mask-position: 0 0;
    }
    32% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 100% 0;
    }
}
@keyframes main-ani02 {
    0% {
        mask-position: 0 0;
    }
    12% {
        mask-position: 0 0;
    }
    37% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 100% 0;
    }
}

.mainbg-img {
    width: 100vw;
}

.base-y-mask {
    width: 100%;
    height: 100%;
    mask: url('../masks/inkmask-left.png');
    mask-size: 100% 3300%;
    border: none;
    fill: white;
    animation: ani-ymask 4s steps(32) infinite alternate;
}
@keyframes ani-ymask {
    0% {
        mask-position: 0 100%;
    }
    31% {
        mask-position: 0 100%;
    }
    51% {
        mask-position: 0 0;
    }
    100% {
        mask-position: 0 0;
    }
}
.base-p-mask {
    width: 100%;
    height: 100%;
    mask: url('../masks/inkmask-inv.png');
    mask-size: 3300% 100%;
    border: none;
    fill: white;
    animation: ani-pmask 4s steps(32) infinite alternate;
}
@keyframes ani-pmask {
    0% {
        mask-position: 0 0;
    }
    27% {
        mask-position: 0 0;
    }
    47% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 100% 0;
    }
}
.base-r-mask {
    width: 100%;
    height: 100%;
    mask: url('../masks/inkmask-right.png');
    mask-size: 100% 3300%;
    fill: white;
    border: none;
    animation: ani-rmask 4s steps(32) infinite alternate;
}
@keyframes ani-rmask {
    0% {
        mask-position: 0 0;
    }
    28% {
        mask-position: 0 0;
    }
    48% {
        mask-position: 0 100%;
    }
    100% {
        mask-position: 0 100%;
    }
}