%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Inter';
    font-size: 18px;
    line-height: 24px;
    color: white;
    transition: .2s ease-in-out;
}

h1 {
    @extend %heading-style;
    font-size: 64px;
}
h2 {
    @extend %heading-style;
    font-size: 44px;
}
h3 {
    @extend %heading-style;
    font-size: 32px;
}

p, li {
    @extend %text-style;
    font-size: 18px;
}
a {
    @extend %text-style;
    font-size: 18px;
    text-decoration: none;
}
// a:hover {
//     color: $primary;
// }

button {
    @extend %text-style;
    padding: 8px 24px;
    border-radius: 4px;
    pointer-events: auto;
    cursor: pointer;
    color: black;
    background-color: white;
    border: solid 3px white;
}
button:hover {
    color: white;
    background-color: $primary;
    border: solid 3px $primary;
}
.btn-outline {
    color: white;
    background-color: transparent;
    border: solid 3px white;
}