%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Inter';
    font-size: $pg;
    line-height: 1.5;
    color: white;
    transition: .2s ease-in-out;
}

h1 {
    @extend %heading-style;
    font-size: $xxl;
    // margin-bottom: $lg;
}
h2 {
    @extend %heading-style;
    font-size: $xl;
    // margin-bottom: $md;
}
h3 {
    @extend %heading-style;
    font-size: $lg;
    margin-bottom: $xs;
}

p {
    @extend %text-style;
    // margin-bottom: $sm;
}
li {
    @extend %text-style;
}
a {
    @extend %text-style;
    text-decoration: none;
}

button {
    @extend %heading-style;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: solid 3px white;

    p {
        margin: 0;
        font-size: $md;
        line-height: $md;
        font-weight: 600;
    }
}
button:hover {
    color: white;
    background-color: $primary;
    border-radius: $lg;
    // border: solid 3px $primary;
}
button:hover > p {
    animation: hoverSquishBtn .4s ease-in-out;
}


strong {
    color: $primary;
}
.bold {
    font-weight: 800;
}

@keyframes hoverSquishBtn {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.9 );
    }
    0% {
        transform: scaleX( 1 );
    }
}