%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Inter';
    font-size: $pg;
    line-height: 1.5;
    color: white;
    transition: .2s ease-in-out;
}
%gradient {
    background: linear-gradient(to right, $accent, $primary, $accent, $primary);
    background-size: 500% 100%;
    color: transparent;
    animation: gradient 6s linear infinite;
}

h1 {
    @extend %heading-style;
    font-size: $xxl;
    // margin-bottom: $lg;
}
h2 {
    @extend %heading-style;
    font-size: $xl;
    // margin-bottom: $md;
}
h3 {
    @extend %heading-style;
    font-size: $lg;
    margin-bottom: $xs;
}

p {
    @extend %text-style;
    // margin-bottom: $sm;
}
li {
    @extend %text-style;
}
a {
    @extend %text-style;
    text-decoration: none;
}

button {
    @extend %heading-style;
    @include flex-wrap( nowrap, row, center, center );
    position: relative;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: solid 3px white;
    overflow: hidden;

    p {
        margin: 0;
        font-size: $md;
        line-height: $md;
        font-weight: 600;
        z-index: 1;
    }
    // .btn-bg {
    //     @extend %gradient;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     opacity: 0%;
    //     transition: .2s ease-in-out;
    // }
    &:hover {
    background-color: $primary;
    border-radius: $lg;
    }
    &:hover > p {
        animation: hoverSquishBtn .4s ease-in-out;
    }
    // &:hover > .btn-bg {
    //     opacity: 100%;
    // }
}

strong {
    @extend %gradient;
    background-clip: text;
    animation: gradient 8s linear infinite;
}
.bold {
    font-weight: 800;
}

@keyframes hoverSquishBtn {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.9 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes gradient {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 14% 100%;
    }
}