// === COLORS ===
$primary: #ff7862;
$secondary: #060e1a;
$accent: #6274ff;
// $accent: rgba(143, 182, 239, 0.75);
// $tertiary: #6987b5;
$white: #ffffff;
$black: #000000;
$transparent: rgba( 0, 0, 0, 0 );

// === UNITS ===
$xxs: 8px;
$xs: 12px;
$sm: 16px;
$pg: 18px; // Paragraph Desktop
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;
$xxxl: 80px;
$mx: 96px;

// === IMAGES ===
// src="https://drive.google.com/thumbnail?id={Enter Your ID}&sz=w1000"
$profileImg: "1JWLEJna0gDyWjM3SxVkRmyZda8e10Cgn";
$thinkingImg: "1PXQMemcZIvk0YuNHTqOaSMXA4RPdXmu9";
$refereeImg: "1o10Cvh-bKIotrP0za_sK0Ugi9edfXVz8";
$skiImg: "19uDnQmdSy2nrZv6K6-r3M5KEFQC_W3pa";