@media only screen and ( max-width: 500px ) {
    footer {
        @include flex-wrap( nowrap, column, start, center );
        position: relative;
        width: 100%;
        height: 900px;
        z-index: 800;
    
        .footer-wrap {
            @include flex-wrap( nowrap, column, start, start );
            @extend %desktop-margin;
            width: 100%;
            height: 1000px;
            position: relative;
            opacity: 100% !important;
    
            h2 {
                margin: 0;
            }
    
            .btn {
                margin-top: $lg;
                animation-duration: 2s;
    
                .text-linkedin {
                    &:after {
                        animation-duration: 12s;
                    }
                }
                .text-email {
                    &:after {
                        animation-duration: 20s;
                    }
                }
            }
            .footer-left {
                @include flex-wrap( nowrap, column, start, start );
                @extend %footer-block;
                margin-top: 400px;
                width: 100%;
                position: relative;
                
                div {
                    opacity: 100% !important;
                }
            }
            .footer-mid {
                @include flex-wrap( nowrap, row, center, start );
                @extend %float-img;
                width: 100%;
                position: absolute;
                top: 0;
    
                .gif-overlay {
                    z-index: 2;
                }
            }
            .footer-right {
                @include flex-wrap( nowrap, column, end, end );
                @extend %footer-block;
                width: 100%;
                position: relative;
                text-align: end;
            }
            img {
                height: 100%;
                max-height: 400px;
            }
        }
        .copyright {
            position: absolute;
            bottom: 0;
            left: $lg;
            color: $accent;
        }
    }
}