.artifact {
    @include flex-wrap( nowrap, column, center, center );
    @extend %scroll-page-template;
    position: relative;
    height: 100%;
    overflow: hidden;
    
    h1, h2 {
        margin: 0;
    }
    .artifact-home {
        z-index: 10;
    }
    .artifact-section {
        @include flex-wrap( nowrap, column, center, center );
        @extend %desktop-margin;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        pointer-events: none;
        transition: display 1s, opacity 0.5s;
        transition-behavior: allow-discrete;
        opacity: 100%;

        &.artifact-hide {
            display: none;
            opacity: 0;

            @starting-style {
                opacity: 100%;
            }
        }

        .artifact-wrap {
            position: relative;
            display: grid;
            grid-auto-columns: calc(( 100% / 12 ) - ( 22px ));
            gap: $md;
            padding-top: $xl + $xxl;
            width: 100%;
            height: 100%;

            .artifact-heading-wrap {
                @include flex-wrap( nowrap, row, start, start );
                gap: $sm;
    
                h1 {
                    width: fit-content;
                    margin-top: 0;
                }
            }
            .sub-heading {
                @extend %sub-heading;
                @extend %artifact-sub;
                @include text-glow( block );

                &:before {
                    text-shadow: 0 0 5px $primary, 0 0 10px $primary;
                }
                &:after {
                    transform: scaleX(1.03) scaleY(1.6);
                    background-image: linear-gradient(45deg, transparent 45%, $accent 45%, $primary 85%, transparent 0);
                }
            }
            .alt-text {
                @extend %artifact-sub;
                color: $accent;
            }
            .heading-col {
                @include flex-wrap( nowrap, column, start, start );
            }
            .artifact-left {
                position: relative;
                grid-row: 1 / 1;
                width: 100%;
            }
            .left-sm {
                grid-column: 1 / 5;
            }
            .left-md {
                grid-column: 1 / 7;
            }
            .left-lg {
                grid-column: 1 / 9;

                p {
                    padding-right: $md;
                }
            }
            .artifact-center {
                position: relative;
                grid-column: 4 / 10;
                grid-row: 1 / 1;
                width: 100%;
            }
            .right-sm {
                grid-column: 9 / 13;
            }
            .right-md {
                grid-column: 7 / 13;
            }
            .right-lg {
                grid-column: 5 / 13;
            }
            .artifact-right {
                position: relative;
                grid-row: 1 / 1;
                width: 100%;
            }
            .artifact-img-wrap {
                @include flex-wrap( nowrap, column, start, center );
                position: relative;
                grid-column: 2 / 6;
                grid-row: 1 / 1;
                height: 100%;

                video, img {
                    width: 100%;
                    max-height: 100%;
                    border-radius: $md;
                }
            }
            .img-left-sm {
                grid-column: 7 / 10;
            }
            .img-right-sm {
                grid-column: 10 / 12;
            }
            .img-left {
                grid-column: 1 / 7;
                padding-right: calc($md / 2);
            }
            .img-right {
                grid-column: 7 / 13;
                padding-left: calc($md / 2);
            }
            .img-right-lg {
                grid-column: 5 / 13;
                padding-left: calc($md / 2);
            }
            .video-cms-backend {
                // width: calc((( 100% / 4 ) * 3 ) - 8px );
                // height: 100%;
            }
            .video-cms-layout {
                // width: calc(( 100% / 4 ) - 16px );
                // height: 100%;
            }
            ul {
                padding: 0;

                li {
                    list-style-type: none;

                    li {
                        margin-left: $xl;
                        list-style-type: disc;
                        margin-bottom: $sm;
                    }
                }
            }
            strong {
                font-weight: 800;
            }
            .bumper-wrap {
                overflow: hidden;
                
                .bumper {
                    width: 120%;
                };
            }
        }
        .leap-in {
            animation-duration: 1s;

            &.leap1 {
                animation-delay: 0.3s;
            }
            &.leap2 {
                animation-delay: 0.6s;
            }
            &.leap3 {
                animation-delay: 0.9s;
            }
        }
    }
}
.hide {
    display: none;
    visibility: hidden;
}

%artifact-sub {
    position: relative;
    font-size: $pg;
    left: 0;
    font-weight: 800;
}
.h1-sm {
    font-size: $md;
}