.projects {
    @extend %page-template;
    z-index: 2;

    .project-heading-wrap {
        @include flex-wrap( nowrap, row, center, start );
        gap: $sm;
        width: 100%;
    }
    .project-heading-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $md $md 0 $md;
        background: ease-in-out-gradient(to bottom, $secondary, transparent, transparent);
        opacity: 50%;
        z-index: 1;
    }
    .heading-shimmer {
        width: fit-content;
        font-size: $md;
        margin-top: $md;
        margin-bottom: $md;
        left: $md;
        text-align: start;
        position: absolute;
        width: fit-content;
        top: 0;
        z-index: 3;
        transition: 0.5s ease-in-out
    }
    .project-heading-float {
        // margin-bottom: - $lg;
        animation: projectsLoad 2s ease-in-out forwards;
    }
    .project-container {
        @extend %desktop-margin;
        @include flex-wrap( nowrap, column, center, start );
        position: relative;

        .project-wrap {
            @include flex-wrap( nowrap, column, start, start );
            position: relative;
            width: 100%;
            // .project-gallery-wrap:has( #artifact-1:hover ) .project-gallery {
            //     transform: translateX(17%);

            //     // ~#artifact-3, ~#artifact-4 {
            //     //     transform: translateX(-100%);
            //     // }
            // }
            .project-gallery-wrap {
                @include flex-wrap( nowrap, row, center, center );
                position: relative;
                width: 100%;
                height: 100%;
                gap: $md;
                top: $md;
                left: - $xxs;
                padding-left: $xxs;
                transition: 0.5s ease-in-out;

                .project-gallery {
                    @include flex-wrap( nowrap, row, center, center );
                    position: relative;
                    width: fit-content;
                    height: 100%;
                    gap: $md;
                    transition: 0.5s ease-in-out;

                    &:hover .project-artifact-wrap:not(:hover) {
                        filter: grayscale(100%) blur(4px);
                    }
                    
                    .project-artifact-wrap {
                        @include flex-wrap( nowrap, column, center, center );
                        position: relative;
                        width: auto;
                        height: 25vw;
                        border-radius: $md;
                        transition: 0.5s ease-in-out;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border-radius: $md;
                            background-color: white;
                            filter: blur( 8px );
                            z-index: -2;
                            transition: 0.5s ease-in-out;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border-radius: $md;
                            background-color: white;
                            filter: blur( 2px );
                            z-index: -2;
                            transition: 0.5s ease-in-out;
                        }

                        &:hover {
                            &::before {
                                background-color: transparent;
                            }
                            &::after {
                                background-color: transparent;
                            }
                            .project-artifact {
                            aspect-ratio: 16 / 9;
                            width: auto;
                            border-radius: $md $md 0 $md;
    
                            .heading-shimmer {
                                font-size: $xl;
                            }
    
                                .project-btn-wrap {
                                    .project-top-corner {
                                        width: $md;
                                        transform: translate( 0, 0 );
    
                                        &::after {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 0 0 $md 0;
                                        }
                                    }
                                    .project-btn-bot {
                                        .project-bot-corner {
                                            height: $md;
                                            transform: translate( 0px, 0px );
    
                                            &::after {
                                                height: 100%;
                                                border-radius: 0 0 $md 0;
                                            }
                                        }
                                        .project-btn-bg {
                                            transform: translate( 0px, 0px );
                                        }
                                    }
                                }
                                ~.project-btn {
                                    opacity: 100%;
    
                                    .btn {
                                        animation: btnShow 0.5s ease-in-out forwards;
                                    }
                                }
                            }
                        }
                        .sub-heading {
                            @extend %sub-heading;
                            @extend %gradient;
                            position: absolute;
                            top: - $lg;
                            font-size: $pg;
                            left: 0;
                            font-weight: 800;
    
                            // &:before {
                            //     text-shadow: 0 0 5px $primary, 0 0 10px $primary;
                            // }
                            // &:after {
                            //     transform: scaleX(1.03) scaleY(1.6);
                            //     background-image: linear-gradient(45deg, transparent 45%, $accent 45%, $primary 85%, transparent 0);
                            // }
                        }
                        .project-artifact {
                            @include flex-wrap( nowrap, column, center, center );
                            position: relative;
                            aspect-ratio: 9 / 16;
                            width: auto;
                            height: 25vw;
                            border-radius: $md;
                            overflow: hidden;
                            transition: 0.5s ease-in-out;
                            filter: grayscale(0) blur(0);
                            // transition: 0.5s cubic-bezier(0.3, -0.8, .4, 1.5);
    
                            .project-border {
                                @include flex-wrap( nowrap, column, center, center );
                                position: relative;
                                width: 100%;
                                height: 100%;
                                border-radius: $md;
                                border: 2px solid white;
                                box-sizing: border-box;
                                z-index: 5;
                            }
                            video {
                                position: absolute;
                                width: auto;
                                height: 100%;
                                aspect-ratio: 16 / 9;
                                border-radius: $md;
                            }
                            .project-corner-wrap {
                                width: $md;
                                height: $md;
                                position: absolute;
                                border-right: 12px solid $secondary;
                                border-bottom: 12px solid $secondary;
                                border-radius: 0 0 52px 0;
                                right: -14px;
                                bottom: -14px;
                                z-index: 4;
                            }
                            .project-text {
                                @include flex-wrap( wrap, column, start, start );
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: $md;
                                background-color: rgba($secondary, 0.8);
                                backdrop-filter: blur($sm);
                                z-index: 2;
                                opacity: 0;
                                transition: 0.5s ease-in-out;
                    
                                .heading-shimmer {
                                    position: relative;
                                    visibility: hidden;
                                }
                                p {
                                    margin: 0 $md;
                                }
                            }
                            .app-icons-wrap {
                                @include flex-wrap( nowrap, row, start, end );
                                position: absolute;
                                width: fit-content;
                                height: fit-content;
                                left: $lg;
                                bottom: 28px;
                                gap: $sm;
                                opacity: 25%;
                                pointer-events: none;
                                z-index: 5;
                                transition: 0.2s ease-in-out;
                    
                                svg {
                                    @extend %svg-grey;
                                    height: $lg;
                                    width: fit-content;
                                    transform: scale(0.8);
                                    filter: blur(0px);
                                    transition: 0.5s ease-in-out;
                                }
                            }
                            .project-btn-wrap {
                                @include flex-wrap( nowrap, column, end, end );
                                position: absolute;
                                width: 100%;
                                height: fit-content;
                                pointer-events: none;
                                overflow: hidden;
                                right: -2px;
                                bottom: -2px;
                                z-index: 5;
                    
                                .project-top-corner {
                                    @include flex-wrap( nowrap, row, end, end );
                                    @extend %project-border;
                                    z-index: 4;
                                    right: 0;
                                    width: 2px;
                                    height: $md;
                                    right: -18px;
                                    bottom: -20px;
                                    transform: translate( 0, 72px );
                                    transition: 0.5s ease-in-out;
                    
                                    &:after {
                                        content: "";
                                        position: absolute;
        
                                        width: 2px;
                                        height: 36px;
                                        border-radius: 0 0 0 0;
                                        bottom: -2px;
                                        right: 0;
                                        border-right: 2px solid white;
                                        border-bottom: 2px solid white;
                                        z-index: 5;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                                .project-btn-bot {
                                    @include flex-wrap( nowrap, row, end, end );
                                    position: relative;
                                    width: 100%;
                                    z-index: 3;
                    
                                    .project-bot-corner {
                                        @extend %project-border;
                                        @include flex-wrap( nowrap, row, end, end );
                                        position: relative;
                                        z-index: 4;
                                        width: 100%;
                                        height: 0px;
                                        right: -20px;
                                        bottom: -18px;
                                        transform: translate(179.24px, 0);
                                        transition: 0.5s ease-in-out;
                    
                                        &:after {
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: 2px;
                                            left: 0;
                                            border-right: 2px solid white;
                                            border-bottom: 2px solid white;
                                            border-radius: 0 0 $md 0;
                                            z-index: 5;
                                            transition: 0.5s ease-in-out;
                                        }
                                    }
                                    .project-btn-bg {
                                        position: relative;
                                        background-color: $secondary;
                                        width: fit-content;
                                        padding: 20px 0 0 20px;
                                        border-radius: $md 0 0 0;
                                        pointer-events: all;
                                        border-top: 2px solid white;
                                        border-left: 2px solid white;
                                        z-index: 3;
                                        transform: translate(177.24px, 72px);
                                        transition: 0.5s ease-in-out;
                    
                                        .btn {
                                            visibility: hidden;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .project-btn {
                position: absolute;
                width: fit-content;
                padding: 20px 0 0 20px;
                border-radius: $md 0 0 0;
                pointer-events: all;
                opacity: 0;
                right: 0;
                bottom: 0;
                transition: 0.2s ease-in-out;
                z-index: 20;
            }
        }
    }
}
.edge-img {
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: $md;
}

%project-border {
    position: relative;
    border-radius: 0 0 $xl 0;
    border-bottom: 20px solid $secondary;
    border-right: 20px solid $secondary;
}
.project-artifact-wrap:has( .btn:hover ) .project-text {
    opacity: 100% !important;
}
.project-artifact-wrap:has( .btn:hover ) .app-icons-wrap {
    opacity: 100% !important;

    svg {
        @extend %svg-color;
        transform: scale(1) !important;
        animation: iconFade 0.5s ease-in-out forwards alternate !important;
    }
}

@keyframes btnShow {
    0% {
        opacity: 0;
        transform: scale( 0.5 );
    }
    50% {
        opacity: 0;
        transform: scale( 0.5 );
    }
    100% {
        opacity: 100%;
        transform: scale( 1 );
    }
}

@keyframes iconFade {
    0% {
        filter: blur(0px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes galleryPan {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}