@media only screen and ( max-width: 500px ) {
    .projects {
        @extend %page-template;
        height: auto;
        z-index: 2;
    
        .project-heading-wrap {
            @include flex-wrap( nowrap, row, center, start );
            gap: $sm;
            width: 100%;
        }
        .project-heading-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: $md $md 0 $md;
            background: ease-in-out-gradient(to bottom, $secondary, transparent, transparent);
            opacity: 50%;
            z-index: 1;
        }
        .heading-shimmer {
            width: fit-content;
            font-size: $md;
            margin-top: $md;
            margin-bottom: $md;
            left: $md;
            text-align: start;
            position: absolute;
            width: fit-content;
            top: 0;
            z-index: 3;
            transition: 0.5s ease-in-out
        }
        .project-heading-float {
            animation: projectsLoad 2s ease-in-out forwards;
        }
        .project-container {
            @extend %desktop-margin;
            @include flex-wrap( nowrap, column, center, start );
            position: relative;
    
            .project-wrap {
                @include flex-wrap( nowrap, column, start, start );
                position: relative;
                width: 100%;
                
                .project-gallery-wrap {
                    @include flex-wrap( nowrap, column, center, center );
                    position: relative;
                    width: 100%;
                    height: 100%;
                    gap: $md;
                    top: $md;
                    left: - $xxs;
                    padding-left: $xxs;
                    transition: 0.5s ease-in-out;
    
                    .project-gallery {
                        @include flex-wrap( nowrap, column, center, center );
                        position: relative;
                        width: fit-content;
                        height: 100%;
                        width: 100%;
                        gap: $xxl;
                        pointer-events: none;
                        
                        // === Artifact Card Styles ===
                        .project-artifact-wrap {
                            @include flex-wrap( nowrap, column, center, center );
                            position: relative;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 9 / 16;
                            border-radius: $md;
                            pointer-events: none;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                border-radius: $md;
                                background-color: transparent;
                                filter: blur( 0 );
                                z-index: -2;
                                transition: 0.5s ease-in-out;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                border-radius: $md;
                                background-color: transparent;
                                filter: blur( 0 );
                                z-index: -2;
                                transition: 0.5s ease-in-out;
                            }

                            .sub-heading {
                                @extend %sub-heading;
                                @include gradient( block );
                                position: absolute;
                                top: - $lg;
                                font-size: $pg;
                                left: 0;
                                font-weight: 800;
                            }
                            .project-artifact {
                                @include flex-wrap( nowrap, column, center, center );
                                position: relative;
                                width: 100%;
                                height: auto;
                                border-radius: $md;
                                overflow: hidden;
                                transition: 0.5s ease-in-out;
        
                                .project-border {
                                    @include flex-wrap( nowrap, column, center, center );
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: $md;
                                    border: 2px solid white;
                                    box-sizing: border-box;
                                    z-index: 5;
                                }
                                video {
                                    position: absolute;
                                    width: auto;
                                    height: 100%;
                                    aspect-ratio: 16 / 9;
                                    border-radius: $md;
                                    display: none;
                                }
                                .project-corner-wrap {
                                    width: $md;
                                    height: $md;
                                    position: absolute;
                                    border-right: 12px solid $secondary;
                                    border-bottom: 12px solid $secondary;
                                    border-radius: 0 0 52px 0;
                                    right: -14px;
                                    bottom: -14px;
                                    z-index: 4;
                                }
                                .sm-heading {
                                    visibility: hidden;
                                }
                                .project-text {
                                    @include flex-wrap( nowrap, column, end, end );
                                    opacity: 100%;
                                    position: absolute;
                                    bottom: 0;
                                    // height: fit-content;
                                    // background-color: red;
                                    background-image: linear-gradient(transparent 0%, transparent 30%, rgba($primary, 0.5) 100%);
                                    padding-bottom: 100px;
                        
                                    .heading-shimmer {
                                        position: relative;
                                        visibility: visible;
                                    }
                                }
                                .app-icons-wrap {
                                    @include flex-wrap( nowrap, row, start, end );
                                    position: absolute;
                                    width: fit-content;
                                    height: fit-content;
                                    left: $lg;
                                    bottom: 28px;
                                    gap: $sm;
                                    opacity: 25%;
                                    pointer-events: none;
                                    z-index: 5;
                                    transition: 0.2s ease-in-out;
                        
                                    svg {
                                        @extend %svg-grey;
                                        height: $lg;
                                        width: fit-content;
                                        transform: scale(0.8);
                                        filter: blur(0px);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                                .project-btn-wrap {
                                    .project-top-corner {
                                        width: $md;
                                        transform: translate( 0, 0 );
    
                                        &::after {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 0 0 $md 0;
                                        }
                                    }
                                    .project-btn-bot {
                                        .project-bot-corner {
                                            height: $md;
                                            transform: translate( 0px, 0px );
    
                                            &::after {
                                                height: 100%;
                                                border-radius: 0 0 $md 0;
                                            }
                                        }
                                        .project-btn-bg {
                                            transform: translate( 0px, 0px );
                                        }
                                    }
                                    ~.project-btn {
                                        opacity: 100%;
        
                                        .btn {
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .project-btn {
                    opacity: 100%;
                }
            }
        }
    }
    .edge-img {
        position: absolute;
        width: auto;
        height: 100%;
        border-radius: $md;
    }
    .project-text-margin {
        h3 {
            display: none;
        }
        p {
            margin: 0 $md;
        }
    }
    
    %project-border {
        position: relative;
        border-radius: 0 0 $xl 0;
        border-bottom: 20px solid $secondary;
        border-right: 20px solid $secondary;
    }
    .app-icons-wrap {
        opacity: 100% !important;
        width: 10%;
    
        svg {
            @include svg-color();
            transform: scale(1) !important;
        }
    }
    
    @keyframes btnShow {
        0% {
            opacity: 0;
            transform: scale( 0.5 );
        }
        50% {
            opacity: 0;
            transform: scale( 0.5 );
        }
        100% {
            opacity: 100%;
            transform: scale( 1 );
        }
    }
    
    @keyframes iconFade {
        0% {
            filter: blur(0px);
        }
        50% {
            filter: blur(5px);
        }
        100% {
            filter: blur(0px);
        }
    }
}