nav {
    @include flex-wrap( nowrap, row, end, center );
    @extend %desktop-margin;
    flex: 0 1 auto;
    position: fixed;
    top: 0;
    height: $xxxl;
    z-index: 900;
        
    .nav-left {
        position: absolute;
        left: 0;
        width: $xxl;
        overflow: hidden;

        .nav-logo-wrap {
            @include flex-wrap( nowrap, row, center, center );
            width: $xxl;
            height: $xxl;

            > svg {
                margin-top: - $xxs;
                margin-right: 1px;
                scale: 4.9;

                .line-nav, .accent-nav {
                    stroke-width: $xxs;
                }
                .base-nav {
                    transition: .2s ease-in-out;
                }
            }
        }
        .nav-logo-wrap:hover .base-nav {
            fill: $primary;
        }
    }
    .nav-mid {
        @include flex-wrap( wrap, row, start, center );
        gap: $sm;
        position: absolute;
        margin-right: calc( 192px + $md );

        .nav-heading {
            @include flex-wrap( wrap, row, start, center );
            @extend %text-glow;
            padding: $xs $lg;
            transition: 0.2s ease-in-out;
            z-index: 2;

            &:after {
                top: auto;
                left: auto;
                transform: scaleX(1.05) scaleY(2);
                animation-duration: 6s;
            }
            &:hover {
                animation: hoverSquish .4s .05s ease-in-out;
            }
        }
        .nav-home:hover {
            ~.nav-heading-bg {
                width: 129.65px;
                background-color: $primary;

                &:before {
                    opacity: 0%;
                }
                &:after {
                    opacity: 100%;
                }
            }
        }
        .nav-about:hover {
            ~.nav-heading-bg {
                width: 131.82px;
                transform: translateX( calc( 129.65px + $sm ) );
                background-color: $primary;
    
                &:before {
                    opacity: 0%;
                }
                &:after {
                    opacity: 100%;
                }
            }
        }
        .nav-projects:hover {
            ~.nav-heading-bg {
                width: 151.91px;
                transform: translateX( calc( 129.65px + 131.82px + ( $sm * 2 ) ) );
                background-color: $primary;
    
                &:before {
                    opacity: 0%;
                }
                &:after {
                    opacity: 100%;
                }
            }
        }
        .nav-heading-bg {
            @extend %nav-bg;
            animation: navLoad .5s ease-in-out;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $lg;
                opacity: 100%;
                z-index: -2;
                box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
                transition: 0.2s ease-in-out;
            }
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $lg;
                opacity: 0%;
                border: 2px solid white;
                z-index: -2;
                box-shadow: 0 0 5px $primary, 0 0 20px $primary, 0 0 50px $primary, 0 0 100px $primary;
                transition: 0.2s ease-in-out;
            }
        }
    }
    .nav-home:hover ~ .nav-about,
    .nav-home:hover ~ .nav-projects,
    .nav-mid:has( .nav-about:hover ) .nav-home,
    .nav-about:hover ~ .nav-projects,
    .nav-mid:has( .nav-projects:hover ) .nav-home,
    .nav-mid:has( .nav-projects:hover ) .nav-about {
        color: $accent;

        &:before {
            opacity: 0%;
        }
        &:after {
            opacity: 0%;
        }
    }
    .nav-right {
        @include flex-wrap( wrap, row, end, end );
        position: absolute;
        right: - calc( $xs / 2 );
        
        .nav-icon-wrap {
            @include flex-wrap( nowrap, row, end, center );
            position: relative;
            gap: $xs;
            padding: 0 calc( $xs / 2 );

            .nav-icon {
                @include flex-wrap( nowrap, row, center, center );
                width: $xl;
                height: $xl;
                z-index: 2;
                
                // &:after {
                //     position: absolute;
                //     width: 100%;
                //     -webkit-text-stroke: 2px white;
                //     content: attr(text-glow);
                //     opacity: 100%;
                //     z-index: -1;
                //     left: 0;
                //     text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff,
                // }
                &:hover > svg {
                    animation: svgRotate 0.6s ease-in-out forwards alternate infinite;
                }
                & > svg {
                    fill: white;
                    transition: .2s ease-in-out;
                }
            }
            .nav-email:hover ~ .nav-icon-bg {
                width: $xl;
                transform: translateX( - calc( ( $xl * 2 ) + ( $xs * 3 ) ) );
                background-color: $primary;

                &:before {
                    opacity: 0%;
                }
                &:after {
                    opacity: 100%;
                }
            }
            .nav-linkedin:hover ~ .nav-icon-bg {
                width: $xl;
                transform: translateX( - calc( $xl + ( $xs * 2 ) ) );
                background-color: $primary;

                &:before {
                    opacity: 0%;
                }
                &:after {
                    opacity: 100%;
                }
            }
            .nav-github {
                margin-right: $xs;

                &:hover ~ .nav-icon-bg {
                    width: $xl;
                    transform: translateX( - $xs );
                    background-color: $primary;

                    &:before {
                        opacity: 0%;
                    }
                    &:after {
                        opacity: 100%;
                    }
                }
            }
            .nav-icon-bg {
                @extend %nav-bg;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: $lg;
                    opacity: 100%;
                    z-index: -2;
                    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
                    transition: 0.2s ease-in-out;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: $lg;
                    opacity: 0%;
                    border: 2px solid white;
                    z-index: -2;
                    box-shadow: 0 0 5px $primary, 0 0 20px $primary, 0 0 50px $primary,
                    0 0 100px $primary;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
    .nav-email:hover ~ .nav-linkedin > svg,
    .nav-email:hover ~ .nav-github > svg,
    .nav-right:has( .nav-linkedin:hover ) .nav-email > svg,
    .nav-linkedin:hover ~ .nav-github > svg,
    .nav-right:has( .nav-github:hover ) .nav-linkedin > svg,
    .nav-right:has( .nav-github:hover ) .nav-email > svg {
        fill: $accent;
    }
}

%nav-bg {
    @include flex-wrap( nowrap, row, center, center );
    position: absolute;
    background-color: rgba( 6, 14, 26, 0.25 );
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border: solid 2px rgba( 255, 255, 255, 1 );
    border-radius: 100px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .2s ease-in-out;
}

@keyframes hoverSquish {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.8 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes svgRotate {
    50% {
        transform: rotateZ( -20deg );
    }
    to {
        transform: rotateZ( 20deg );
    }
} 