@media only screen and ( max-width: 500px ) {
    .about {
        @extend %scroll-page-template;
        padding-top: 0;
    
        ::-webkit-scrollbar {
            width: $xs;
        }
    
        .about-scroll {
            @extend %desktop-margin;
            padding-top: $xxl;
    
            .about-section {
                height: fit-content;
                display: flex;
                z-index: 5;
        
                article {
                    width: 100%;
                    height: fit-content;
        
                    h1, h2 {
                        margin: 0;
                    }
                    p {
                        margin-top: 0;
                    }
                    .heading-shimmer {
                        @extend %shimmer;
                        margin-top: $xl;
                        width: 100%;
                    }
                    .heading-float {
                        margin-bottom: $xl;
                    }
                    .about-heading-wrap {
                        @include flex-wrap( nowrap, row, start, start );
                        gap: $sm;
        
                        h1 {
                            width: fit-content;
                            margin-top: 0;
                        }
                    }
                    .quote-wrap {
                        position: relative;
                        padding: $md 0;
                    }
                }
            }
            .about-img-section {
                @extend %desktop-margin;
                display: grid;
                padding-top: $xxl;
                grid-template-columns: 45% 55%;
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                z-index: -1;
                pointer-events: none;
                
                .about-img-wrap {
                    @include flex-wrap( wrap, column, center, center );
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding-top: $xxxl;
            
                    div {
                        @include flex-wrap( wrap, column, start, center );
                        position: absolute;
                        width: 100%;
                        height: 100%;  
            
                        img {
                            width: 100%;
                            aspect-ratio: 1 / 1;
                        }
                    }
                    .about-img-1 {
                        z-index: 4;
                        opacity: 100%;
                    }
                    .about-img-2 {
                        z-index: 3;
                    }
                    .about-img-3 {
                        z-index: 2;
                    }
                    .about-img-4 {
                        z-index: 1;
                    }
                    .career {
                        position: absolute;
                        width: 100%;
                        height: fit-content;
                        bottom: 0;
                        visibility: hidden;
            
                        .career-stats {
                            @include flex-wrap( wrap, row, start, start );
                            position: relative;
                            width: 100%;
                            height: fit-content;
            
                            .league-wrap {
                                @include flex-wrap( wrap, column, start, start );
                                position: relative;
            
                                .league-card {
                                    @include flex-wrap( wrap, row, start, center );
                                    width: 100%;
                                    height: fit-content;
                                    border-radius: $xxs;
            
                                    img {
                                        width: $xxl;
                                        margin-left: $xxs;
                                    }
            
                                    article {
                                        margin-right: $xxs;
            
                                        span {
                                            line-height: 1.5;
                                        }
                                        p {
                                            margin-left: $xs;
                                            font-size: 14px;
                                            line-height: 14px;
                                        }
                                    }
                                }
                                .featured-card {
                                    background-color: rgba( $accent, 0.33 );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}