%float-img {
    animation: imgFloat 3s ease-in-out forwards alternate infinite;

    @keyframes imgFloat {
        0% {
            transform: rotate( 1deg ) translateY( -5px );
        }
        100% {
            transform: rotate( 0deg ) translateY( 5px );
        }
    }
}

.blur-in {
    animation: blurIn 2s ease-in-out forwards;
}
.blur-out {
    animation: blurOut 2s ease-in-out forwards;
}
.blur-in-fast {
    animation: blurIn 1s ease-in-out forwards;
}
.blur-out-fast {
    animation: blurOut 1s ease-in-out forwards;
}
.footer-blur-in {
    animation: blurIn 2s ease-in-out forwards;
}
.footer-blur-out {
    animation: blurOut 2s ease-in-out forwards;
}
@keyframes blurIn {
    0% {
        filter: blur( 10px );
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        filter: blur( 0 );
    }
}
@keyframes blurOut {
    0% {
        filter: blur( 0 );
        opacity: 100%;
    }
    50% {
        filter: blur( 10px );
    }
    100% {
        opacity: 0%;
    }
}

.move-in {
    animation: moveIn 1s cubic-bezier( 0.1, 0.8, 0.4, 2 ) forwards;
}
.move-out {
    animation: moveOut 1.5s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ) forwards;
}
@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateY( $lg );
    }
    100% {
        opacity: 100%;
        transform: translateY( 0 );
    }
}
@keyframes moveOut {
    0% {
        opacity: 100%;
        transform: translateY( 0 );
    }
    100% {
        opacity: 0;
        transform: translateY( $lg );
    }
}

.leap-in {
    animation: leapIn 2s cubic-bezier( 0.1, 0.8, 0.4, 2 ) forwards;
    opacity: 0;
}
.leap-out {
    animation: moveOut 1.5s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ) forwards;
}
@keyframes leapIn {
    0% {
        opacity: 0;
        transform: translate( $lg, calc( $lg / 2 ) );
    }
    25% {
        opacity: 0;
        transform: translate( calc( $lg / 2 ), calc( $lg / 2 ) );
    }
    100% {
        transform: translate( 0, 0 );
        opacity: 100%;
    }
}

.scale-in {
    animation: projIn 1s ease-in-out forwards;
}
.scale-out {
    animation: projOut 1s ease-in-out forwards;
}
@keyframes projIn {
    0% {
        filter: blur( 10px );
        opacity: 0%;
        transform: scale( 0.8 ) ;
    }
    50% {
        opacity: 100%;
    }
    100% {
        filter: blur( 0 );
        transform: scale( 1 );
    }
}
@keyframes projOut {
    0% {
        filter: blur( 0 );
        opacity: 100%;
    }
    50% {
        filter: blur( 10px );
    }
    100% {
        opacity: 0%;
    }
}

.disable {
    animation-play-state: paused !important;
}

.enable {
    animation-play-state: running !important;
}

@keyframes svgRotate {
    50% {
        transform: rotateZ( -20deg );
    }
    to {
        transform: rotateZ( 20deg );
    }
} 

@media only screen and ( max-width: 500px ) {
    .scale-in, .scale-out {
        animation: none;
    }
    .move-in, .move-out {
        animation: none;
    }
    .footer-blur-in, .footer-blur-out {
        animation: none;
    }
    .leap-in, .leap-out {
        animation: none;
        opacity: 100%;
    }
}