%gradient {
    background: linear-gradient( to right, $accent, $primary, $accent, $primary );
    background-size: 500% 100%;
    background-clip: text;
    animation: gradient 8s linear infinite;
    color: transparent;

    @keyframes gradient {
        0% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 14% 100%;
        }
    }
}

%float-title {
    .floating-text {
        display: inline-block;
        color: transparent;
        -webkit-text-stroke: 3px white;
        display: inline-block;
        transform: rotate( 6deg ) skew( -6deg ) translateY( -10px );
        transition: transform .3s ease-in-out;

        &:before {
            position: absolute;
            color: transparent;
            -webkit-text-stroke: 3px white;
            content: attr( text-glow );
            top: 0;
            left: 0;
            z-index: 2;
            text-shadow: 
            .1vw 0vw .25vw #aca9ff, .2vw 0vw .25vw #d9d8ff, .4vw 0vw .25vw #d9d8ff,
            .1vw 0vw 0.3vw #6274ff, .2vw 0vw 0.3vw #6274ff, .4vw 0vw 0.3vw #6274ff,
            .1vw 0vw 0.5vw #6274ff, .2vw 0vw 0.5vw #6274ff, .4vw 0vw 0.5vw #6274ff,
            .1vw 0vw 1vw #450be5, .2vw 0vw 1vw #450be5, .4vw 0vw 3vw #450be5,
            .1vw 0vw 2vw #3a0be5, .2vw 0vw 2vw #3a0be5, .4vw 0vw 5vw #3a0be5;
        }
        &:after {
            position: absolute;
            -webkit-text-stroke: 3px white;
            content: attr( text-glow );
            top: 0;
            left: 0;
            opacity: 0%;
            z-index: 2;
            text-shadow: 
            2px 0vw .25vw #ffd1c9, 4px 0vw .25vw #ffded8, 8px 0vw .25vw #ffded8,
            .1vw 0vw 0.3vw #f26e57, .2vw 0vw 0.3vw #f26e57, .4vw 0vw 0.3vw #f26e57,
            .1vw 0vw 0.5vw #f26e57, .2vw 0vw 0.5vw #f26e57, .4vw 0vw 0.5vw #f26e57,
            .1vw 0vw 1vw #ff7862, .2vw 0vw 1vw #ff7862, .4vw 0vw 3vw #ff7862,
            .1vw 0vw 2vw #ff7862, .2vw 0vw 2vw #ff7862, .4vw 0vw 5vw #ff7862;
        }
    }
    .float-1 {
        animation: floatBig 2s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s ease-in-out infinite alternate;
        }
    }
    .float-2 {
        animation: floatBig 2s .5s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s .5s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s .5s ease-in-out infinite alternate;
        }
    }
    .float-3 {
        animation: floatBig 2s 1s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 1s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 1s ease-in-out infinite alternate;
        }
    }
    .float-4 {
        animation: floatBig 2s 1.5s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 1.5s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 1.5s ease-in-out infinite alternate;
        }
    }
    .float-5 {
        animation: floatBig 2s 2s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 2s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 2s ease-in-out infinite alternate;
        }
    }
    .float-6 {
        animation: floatBig 2s 2.5s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 2.5s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 2.5s ease-in-out infinite alternate;
        }
    }
    .float-7 {
        animation: floatBig 2s 3s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 3s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 3s ease-in-out infinite alternate;
        }
    }
    .float-8 {
        animation: floatBig 2s 3.5s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 3.5s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 3.5s ease-in-out infinite alternate;
        }
    }
    .float-9 {
        animation: floatBig 2s 4s ease-in-out infinite alternate;

        &:before {
            animation: neonFade 2s 4s ease-in-out infinite alternate-reverse;
        }
        &:after {
            animation: neonFade 2s 4s ease-in-out infinite alternate;
        }
    }
    @keyframes floatBig {
        0% {
            transform: rotate( 6deg ) skew( -6deg ) translateY( -10px );
        }
        100% {
            transform: rotate( -2deg ) skew( 6deg ) translateY( 10px );
        }
    }
    @keyframes neonFade {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}
%float-img {
    animation: imgFloat 3s ease-in-out forwards alternate infinite;

    @keyframes imgFloat {
        0% {
            transform: rotate( 1deg ) translateY( -5px );
        }
        100% {
            transform: rotate( 0deg ) translateY( 5px );
        }
    }
}
%text-glow {
    position: relative;
    margin: 0;
    font-size: $md;
    line-height: $md;
    font-weight: 600;
    z-index: 1;

    &:before {
        position: absolute;
        width: 100%;
        content: attr( text-glow );
        opacity: 100%;
        z-index: -1;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
    }
    &:after {
        content: attr( text-glow );
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        text-shadow: none;
        background-image: linear-gradient(45deg, transparent 45%, $accent 45%, white 85%, transparent 0);
        background-size: 10px 10px;
        background-clip: text;
        color: transparent;
        filter: blur( 4px );
        transform: scaleX( 1.03 ) scaleY( 1.75 );
        animation: lines 8s linear infinite alternate;
    }
    @keyframes lines {
        0% {
            background-position: 0 0;
            background-position: 100% 100%;
        }
    }
}

.blur-in {
    animation: blurIn 2s ease-in-out forwards;
}
.blur-out {
    animation: blurOut 2s ease-in-out forwards;
}
.blur-in-fast {
    animation: blurIn 1s ease-in-out forwards;
}
.blur-out-fast {
    animation: blurOut 1s ease-in-out forwards;
}
@keyframes blurIn {
    0% {
        filter: blur( 10px );
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        filter: blur( 0 );
    }
}
@keyframes blurOut {
    0% {
        filter: blur( 0 );
        opacity: 100%;
    }
    50% {
        filter: blur( 10px );
    }
    100% {
        opacity: 0%;
    }
}

.move-in {
    animation: moveIn 1s cubic-bezier( 0.1, 0.8, 0.4, 2 ) forwards;
}
.move-out {
    animation: moveOut 1.5s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ) forwards;
}
@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateY( $lg );
    }
    100% {
        opacity: 100%;
        transform: translateY( 0 );
    }
}
@keyframes moveOut {
    0% {
        opacity: 100%;
        transform: translateY( 0 );
    }
    100% {
        opacity: 0;
        transform: translateY( $lg );
    }
}

.leap-in {
    animation: leapIn 2s cubic-bezier( 0.1, 0.8, 0.4, 2 ) forwards;
    opacity: 0;
}
.leap-out {
    animation: moveOut 1.5s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ) forwards;
}
@keyframes leapIn {
    0% {
        opacity: 0;
        transform: translate( $lg, calc( $lg / 2 ) );
    }
    25% {
        opacity: 0;
        transform: translate( calc( $lg / 2 ), calc( $lg / 2 ) );
    }
    100% {
        transform: translate( 0, 0 );
        opacity: 100%;
    }
}

.scale-in {
    animation: projIn 1s ease-in-out forwards;
}
.scale-out {
    animation: projOut 1s ease-in-out forwards;
}
@keyframes projIn {
    0% {
        filter: blur( 10px );
        opacity: 0%;
        transform: scale( 0.8 ) ;
    }
    50% {
        opacity: 100%;
    }
    100% {
        filter: blur( 0 );
        transform: scale( 1 );
    }
}
@keyframes projOut {
    0% {
        filter: blur( 0 );
        opacity: 100%;
    }
    50% {
        filter: blur( 10px );
    }
    100% {
        opacity: 0%;
    }
}

.disable {
    animation-play-state: paused !important;
}

.enable {
    animation-play-state: running !important;
}