* {
    cursor: none !important;
}
a:hover ~ .cursor {
    scale: 2;
}
.cursor {
    width: 18px;
    height: 26px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;

    .cursor-p {
        @include flex-wrap( wrap, row, center, center );
        position: relative;
        font-weight: 200;
        width: fit-content;
        height: fit-content;
        font-size: $md;
        font-weight: 200;
        transform: translate(-18px, -15.5px);
        animation: triRotate 5s linear infinite;

        &:before {
            position: absolute;
            width: 100%;
            -webkit-text-stroke: 1px white;
            content: attr(text-glow);
            opacity: 100%;
            z-index: 1;
            transition: 0.2s ease-in-out;
            text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 50px #ffffff;
        }
        &:after {
            position: absolute;
            width: 100%;
            -webkit-text-stroke: 1px white;
            content: attr(text-glow);
            opacity: 100%;
            z-index: 1;
            transition: 0.2s ease-in-out;
            text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 50px #ffffff;
        }
    }
    .cursor-fill {
        fill: white;
        scale: 4.4;
        transform: translate(-18px, -15.5px);
    }
    .cursor-dot {
        fill: $primary;
        scale: 4.4;
        transform: translate(-18px, -15.5px);
        transition: 2s ease-in-out;
        animation: dotPulse 1s ease-in-out alternate infinite;
    }
}
.doc-click {
    animation: docClick .2s ease-in-out forwards;
}
@media only screen and ( max-width: 500px ) {
    * {
        cursor: auto !important;
    }
    .cursor {
        display: none;
    }
}
@keyframes docClick {
    0% {
        scale: 4.4;
    }
    50% {
        scale: 3.6;
    }
    100% {
        scale: 4.4;
    }
}
@keyframes dotPulse {
    0% {
        fill-opacity: 1;
    }
    100% {
        fill-opacity: 0;
    }
}
@keyframes triRotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}