// Main Logo
%logo-line {
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 4px;
    fill: none;
    stroke-linejoin: round;
}
.line-y{
    @extend %logo-line;
    stroke-dasharray: 2200;
    animation: drawy 4s 0.3s infinite alternate both;
}
.line-p{
    @extend %logo-line;
    stroke-dasharray: 1100;
    animation: drawp 4s 0.3s infinite alternate both;
}
.line-r{
    @extend %logo-line;
    stroke-dasharray: 1400;
    animation: drawr 4s 0.3s infinite alternate both;
}
@keyframes drawy{
    from{
        stroke-dashoffset: 2200;
    }
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes drawp{
    0%{
        stroke-dashoffset: -1100;
    }
    70%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes drawr{
    0%{
        stroke-dashoffset: 1400;
    }
    27%{
        stroke-dashoffset: 1400;
    }
    73%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 400;
    }
}

%logo-accent {
    stroke-width: 3px;
}
.line-p-accent {
    @extend %logo-line;
    @extend %logo-accent;
    stroke-dasharray: 1100;
    animation: drawp 4s 0.3s infinite alternate both;
}
.line-r-accent {
    @extend %logo-line;
    @extend %logo-accent;
    stroke-dasharray: 1000;
    animation: drawr 4s 0.3s infinite alternate both;
}

.base-y, .base-p, .base-r {
    stroke-width:0;
    fill: transparent;
}

%logo-fill {
    width: 100%;
    height: 100%;
    border: none;
    fill: white;
}
.base-y-mask {
    @extend %logo-fill;
    mask: url('../masks/inkmask-left.png');
    mask-size: 100% 3300%;
    animation: ani-ymask 4s steps(32) infinite alternate;
}
.base-p-mask {
    @extend %logo-fill;
    mask: url('../masks/inkmask-inv.png');
    mask-size: 3300% 100%;
    animation: ani-pmask 4s steps(32) infinite alternate;
}
.base-r-mask {
    @extend %logo-fill;
    mask: url('../masks/inkmask-right.png');
    mask-size: 100% 3300%;
    animation: ani-rmask 4s steps(32) infinite alternate;
}
@keyframes ani-ymask {
    0% {
        mask-position: 0 100%;
    }
    31% {
        mask-position: 0 100%;
    }
    51% {
        mask-position: 0 0;
    }
    100% {
        mask-position: 0 0;
    }
}
@keyframes ani-pmask {
    0% {
        mask-position: 0 0;
    }
    27% {
        mask-position: 0 0;
    }
    47% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 100% 0;
    }
}
@keyframes ani-rmask {
    0% {
        mask-position: 0 0;
    }
    28% {
        mask-position: 0 0;
    }
    48% {
        mask-position: 0 100%;
    }
    100% {
        mask-position: 0 100%;
    }
}