html {
    scroll-behavior: smooth;
    background-color: $secondary;
}

body {
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.scroll-hide {
    overflow: hidden;
}

#main {
    @include flex-wrap( wrap, column, start, center );
    position: relative;
    width: 100%;
}
main {
    // @extend %desktop-margin;
    @extend %page-template;
    position: relative;

    section {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: $xs;
}
::-webkit-scrollbar-track {
    background-color: $secondary;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient( to bottom, $secondary, $accent );
    background-size: 100% 100%;
    background-position: 100% 100%;
    border-radius: 0 0 $lg $lg;
    transition: 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( to bottom, $secondary, $primary );
}

.scroll-wrap {
    @include flex-wrap( nowrap, column, start, center );
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    // padding-left: $md;
    // padding-right: $md;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;

    .scroll-section {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        scroll-snap-align: start;
    }
    .footer-section {
        @include flex-wrap( wrap, column, center, center );
        position: relative;
        width: 100%;
        height: fit-content;
        scroll-snap-align: start;
    }
}
.gif-overlay {
    position: absolute;
}

.pointer-show {
    pointer-events: all;
}
.pointer-hide {
    pointer-events: none;
}

.page-visible {
    animation: pageVisible 1s ease-in-out forwards;
}
.page-hidden {
    animation: pageHidden 1s ease-in-out forwards;
}
@keyframes pageVisible {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes pageHidden {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

%desktop-margin {
    width: 100%;
    max-width: 1280px;
}
%page-template {
    @include flex-wrap( wrap, column, start, center );
    position: relative;
    width: calc( 100% - ( $lg * 2 ) );
    min-height: calc( 100vh - $xxl );
    padding: $xxl $lg 0 $lg;
}
%scroll-page-template {
    @include flex-wrap( wrap, column, start, center );
    width: calc( 100% - ( $lg * 2 ) );
    min-height: calc( 100vh - $xxl );
    padding: $xxl $lg 0 $lg;
    height: 100vh;
    top: 0;
    overflow-x: hidden;
}