%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Nunito';
    font-size: $pg;
    line-height: 1.5;
    color: white;
    transition: .2s ease-in-out;
}

h1 {
    @extend %heading-style;
    font-size: $xxl;
    // margin-bottom: $lg;
}
h2 {
    @extend %heading-style;
    font-size: $xl;
    // margin-bottom: $md;
}
h3 {
    @extend %heading-style;
    font-size: $lg;
    margin-bottom: $xs;
}

p {
    @extend %text-style;
    // margin-bottom: $sm;
}
li {
    @extend %text-style;
}
a {
    @extend %text-style;
    text-decoration: none;
}

button {
    @extend %heading-style;
    @include flex-wrap( nowrap, row, center, center );
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 2px white;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $xs;
        -webkit-text-stroke: 2px white;
        top: 0;
        left: 0;
        opacity: 100%;
        z-index: -1;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
        transition: 0.2s ease-in-out;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $lg;
        -webkit-text-stroke: 2px white;
        top: 0;
        left: 0;
        opacity: 0%;
        z-index: -1;
        box-shadow: 0 0 5px $primary, 0 0 20px $primary, 0 0 50px $primary,
        0 0 100px $primary;
        transition: 0.2s ease-in-out;
    }

    p {
        margin: 0;
        font-size: $md;
        line-height: $md;
        font-weight: 200;
        letter-spacing: 1px;
        width: 100%;
        z-index: 1;

        &:after {
            position: absolute;
            width: 100%;
            -webkit-text-stroke: 2px white;
            content: attr(text-glow);
            opacity: 100%;
            z-index: -1;
            left: 0;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff,
        }
    }
    &:hover {
    background-color: $primary;
    border-radius: $lg;
    border: solid 2px white;

        &:before {
            opacity: 0%;
        }
        &:after {
            opacity: 100%;
        }
        > p {
            animation: hoverSquishBtn .4s ease-in-out;

            &:after {
            // animation: hoverSquishBtn .4s ease-in-out;
            opacity: 100%;
            }
        }
    }
    // &:hover > p {
    // }
    // &:hover > .btn-bg {
    //     opacity: 100%;
    // }
}

.indent {
    margin-left: $mx;
}
.indent2 {
    margin-left: calc( $mx + $mx );
}
.space {
    margin-left: $md;
}
strong {
    @extend %gradient;
}
.bold {
    font-weight: 800;
}
.text-cursor {
    @extend %gradient;
    animation-name: gradient, blinking;
    animation-duration: 8s, 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
// <Cursor cursorStyle='.' cursorColor='#6274ff'/>
@keyframes hoverSquishBtn {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.9 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes blinking {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}