%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Nunito';
    font-size: $pg;
    line-height: 1.5;
    color: white;
    transition: .2s ease-in-out;
}

h1 {
    @extend %heading-style;
    font-size: $xxl;
    // margin-bottom: $lg;
}
h2 {
    @extend %heading-style;
    font-size: $xl;
    // margin-bottom: $md;
}
h3 {
    @extend %heading-style;
    font-size: $lg;
    margin-bottom: $xs;
}

p {
    @extend %text-style;
    // margin-bottom: $sm;
}
li {
    @extend %text-style;
}
a {
    @extend %text-style;
    text-decoration: none;
}

%sub-heading {
    position: absolute;
    margin: 0;
    font-size: $pg;
    line-height: $md;
    left: 0;
    font-weight: 800;
    color: $primary;
    z-index: -1;
}
.heading-wrap {
    width: 100%;
    height: fit-content;
}
.heading-auto {
    width: auto;
}
.heading-right {
    @include flex-wrap( wrap, column, end, end );
    text-align: right;
    right: 0;
}
.indent {
    margin-left: $mx;
}
.indent2 {
    margin-left: calc( $mx + $mx );
}
.space {
    margin-left: $md;
    content: "";
}
strong {
    @extend %gradient;
}
.bold {
    font-weight: 800;
}
.text-cursor {
    @extend %gradient;
    animation-name: gradient, blinking;
    animation-duration: 8s, 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
// <Cursor cursorStyle='.' cursorColor='#6274ff'/>
@keyframes hoverSquishBtn {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.9 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes blinking {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}