%heading-style {
    font-family: 'Rubik';
    color: white;
    transition: .2s ease-in-out;
}
%text-style {
    font-family: 'Nunito';
    font-size: $pg;
    line-height: 1.5;
    color: white;
    transition: .2s ease-in-out;
}

h1 {
    @extend %heading-style;
    font-size: $xxl;
    // margin-bottom: $lg;
}
h2 {
    @extend %heading-style;
    font-size: $xl;
    // margin-bottom: $md;
}
h3 {
    @extend %heading-style;
    font-size: $lg;
    margin-bottom: $xs;
}

p {
    @extend %text-style;
    // margin-bottom: $sm;
}
li {
    @extend %text-style;
}
a {
    @extend %text-style;
    text-decoration: none;
}

button {
    @extend %heading-style;
    @include flex-wrap( nowrap, row, center, center );
    display: inline-block;
    position: relative;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: solid 3px white;
    overflow: hidden;

    &:after {
        position: absolute;
        text-shadow: none;
        -webkit-text-stroke: 3px white;
        background-color: red;
        content: attr(button-glow);
        top: 0;
        left: 0;
        z-index: 2;
        // text-shadow: 
        // 2px 0vw .25vw #ffd1c9, 4px 0vw .25vw #ffded8, 8px 0vw .25vw #ffded8,
        // .1vw 0vw 0.3vw #f26e57, .2vw 0vw 0.3vw #f26e57, .4vw 0vw 0.3vw #f26e57,
        // .1vw 0vw 0.5vw #f26e57, .2vw 0vw 0.5vw #f26e57, .4vw 0vw 0.5vw #f26e57,
        // .1vw 0vw 1vw #ff7862, .2vw 0vw 1vw #ff7862, .4vw 0vw 3vw #ff7862,
        // .1vw 0vw 2vw #ff7862, .2vw 0vw 2vw #ff7862, .4vw 0vw 5vw #ff7862;
    }

    p {
        margin: 0;
        font-size: $md;
        line-height: $md;
        font-weight: 800;
        z-index: 1;
    }
    // .btn-bg {
    //     @extend %gradient;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     opacity: 0%;
    //     transition: .2s ease-in-out;
    // }
    &:hover {
    background-color: $primary;
    border-radius: $lg;
    }
    &:hover > p {
        animation: hoverSquishBtn .4s ease-in-out;
    }
    // &:hover > .btn-bg {
    //     opacity: 100%;
    // }
}

.indent {
    margin-left: $mx;
}
.indent2 {
    margin-left: calc( $mx + $mx );
}
.space {
    margin-left: $md;
}
strong {
    @extend %gradient;
}
.bold {
    font-weight: 800;
}
.text-cursor {
    @extend %gradient;
    animation-name: gradient, blinking;
    animation-duration: 8s, 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
// <Cursor cursorStyle='.' cursorColor='#6274ff'/>
@keyframes hoverSquishBtn {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.9 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes blinking {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}