// === COLORS ===
$primary: #ff7862;
$secondary: #060e1a;
$accent: #6274ff;
// $accent: rgba(143, 182, 239, 0.75);
// $tertiary: #6987b5;
$white: #ffffff;
$black: #000000;
$transparent: rgba( 0, 0, 0, 0 );

// === UNITS ===
$xxs: 8px;
$xs: 12px;
$sm: 16px;
$pg: 18px; // Paragraph Desktop
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;
$xxxl: 80px;
$mx: 96px;

// STRIPES NATION
$sn-red: #ed1c24;
.sn-red {
    fill: $sn-red;
}

// === ICONS ===
$icon-grey: #ebebeb;
.icon-grey {
    fill: $icon-grey;
}

$icon-white: #fff;
.icon-white {
    fill: $icon-white;
}

// AFTER EFFECTS
$ae-light: #9898fe;
.ae-light {
    fill: $ae-light;
}

$ae-dark: #00005b;
.ae-dark {
    fill: $ae-dark;
}

// CSS
$css-light: #2965f1;
.css-light {
    fill: $css-light;
}

$css-dark: #264de4;
.css-dark {
    fill: $css-dark;
}

// FIGMA
.figma-purple, .figma-blue, .figma-green, .figma-orange, .figma-peach {
    fill-rule: evenodd;
}

$figma-purple: #a259ff;
.figma-purple {
    fill: $figma-purple;
}

$figma-blue: #1abcfe;
.figma-blue {
    fill: $figma-blue;
}

$figma-green: #0acf83;
.figma-green {
    fill: $figma-green;
}

$figma-orange: #f24e1e;
.figma-orange {
    fill: $figma-orange;
}

$figma-peach: #ff7262;
.figma-peach {
    fill: $figma-peach;
}

$figma-bg: #2e303a;
.figma-bg {
    fill: $figma-bg;
}

// HTML
$html-light: #f16529;
.html-light {
    fill: $html-light;
}
$html-dark: #e44d26;
.html-dark {
    fill: $html-dark;
}

// ILLUSTRATOR
$ai-light: #ff9a00;
.ai-light {
    fill: $ai-light;
}
$ai-dark: #300;
.ai-dark {
    fill: $ai-dark;
}

// JAVASCRIPT
$js-light: #f0db4f;
.js-light {
    fill: $js-light;
}
$js-dark: #323330;
.js-dark {
    fill: $js-dark;
}

// PHOTOSHOP
$ps-light: #31a8ff;
.ps-light {
    fill: $ps-light;
}
$ps-dark: #001e36;
.ps-dark {
    fill: $ps-dark;
}

// REACT
$react-light: #01daff;
.react-light {
    fill: $react-light;
}
$react-dark: #222;
.react-dark {
    fill: $react-dark;
}

// SASS
$sass-dark: #cd669a;
.sass-dark {
    fill: $sass-dark;
}

// WEBFLOW
$webflow-dark: #146df5;
.webflow-dark {
    fill: $webflow-dark;
}