nav {
    @include flex-wrap( nowrap, row, end, center );
    @extend %desktop-margin;
    flex: 0 1 auto;
    position: fixed;
    top: 0;
    height: $xxxl;
    z-index: 900;
        
    .nav-left {
        position: absolute;
        left: 0;
        width: $xxl;
        overflow: hidden;

        .nav-logo-wrap {
            @include flex-wrap( nowrap, row, center, center );
            width: $xxl;
            height: $xxl;

            > svg {
                margin-top: - $xxs;
                margin-right: 1px;
                scale: 4.9;

                .line-nav, .accent-nav {
                    stroke-width: $xxs;
                }
                .base-nav {
                    transition: .2s ease-in-out;
                }
            }
        }
        .nav-logo-wrap:hover .base-nav {
            fill: $primary;
        }
    }
    .nav-mid {
        @include flex-wrap( wrap, row, start, center );
        gap: $sm;
        position: absolute;
        margin-right: calc( 192px + $md );

        .nav-heading {
            padding: $xs $lg;
            font-weight: 800;
            font-size: $md;
            line-height: $md;

            &:hover {
                animation: hoverSquish .4s .05s ease-in-out;
            }
        }
        .nav-home:hover ~ .nav-heading-bg {
            width: 133.52px;
            background-color: $primary;
        }
        .nav-about:hover ~ .nav-heading-bg {
            width: 137.52px;
            transform: translateX( calc( 133.52px + $sm ) );
            background-color: $primary;
        }
        .nav-projects:hover ~ .nav-heading-bg {
            width: 162.07px;
            transform: translateX( calc( 133.52px + 137.52px + ( $sm * 2 ) ) );
            background-color: $primary;
        }
        .nav-heading-bg {
            @extend %nav-bg;
            animation: navLoad .5s ease-in-out;
        }
    }
    .nav-home:hover ~ .nav-about,
    .nav-home:hover ~ .nav-projects,
    .nav-mid:has( .nav-about:hover ) .nav-home,
    .nav-about:hover ~ .nav-projects,
    .nav-mid:has( .nav-projects:hover ) .nav-home,
    .nav-mid:has( .nav-projects:hover ) .nav-about {
        color: $accent;
    }
    .nav-right {
        @include flex-wrap( wrap, row, end, end );
        position: absolute;
        right: - calc( $xs / 2 );
        
        .nav-icon-wrap {
            @include flex-wrap( nowrap, row, end, center );
            position: relative;
            gap: $xs;
            padding: 0 calc( $xs / 2 );

            .nav-icon {
                @include flex-wrap( nowrap, row, center, center );
                width: $xl;
                height: $xl;
                z-index: 2;

                &:hover > svg {
                    animation: svgRotate 0.6s ease-in-out forwards alternate infinite;
                }
                & > svg {
                    fill: white;
                    transition: .2s ease-in-out;
                }
            }
            .nav-email:hover ~ .nav-icon-bg {
                width: $xl;
                transform: translateX( - calc( ( $xl * 2 ) + ( $xs * 3 ) ) );
                background-color: $primary;
            }
            .nav-linkedin:hover ~ .nav-icon-bg {
                width: $xl;
                transform: translateX( - calc( $xl + ( $xs * 2 ) ) );
                background-color: $primary;
            }
            .nav-github {
                margin-right: $xs;

                &:hover ~ .nav-icon-bg {
                    width: $xl;
                    transform: translateX( - $xs );
                    background-color: $primary;
                }
            }
            .nav-icon-bg {
                @extend %nav-bg;
            }
        }
    }
    .nav-email:hover ~ .nav-linkedin > svg,
    .nav-email:hover ~ .nav-github > svg,
    .nav-right:has( .nav-linkedin:hover ) .nav-email > svg,
    .nav-linkedin:hover ~ .nav-github > svg,
    .nav-right:has( .nav-github:hover ) .nav-linkedin > svg,
    .nav-right:has( .nav-github:hover ) .nav-email > svg {
        fill: $accent;
    }
}

%nav-bg {
    position: absolute;
    background-color: rgba( 6, 14, 26, 0.25 );
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border: solid 2px rgba( 255, 255, 255, 1 );
    border-radius: 100px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s ease-in-out;
}

@keyframes hoverSquish {
    0% {
        transform: scaleX( 1 );
    }
    50% {
        transform: scaleX( 0.8 );
    }
    0% {
        transform: scaleX( 1 );
    }
}
@keyframes svgRotate {
    50% {
        transform: rotateZ( -20deg );
    }
    to {
        transform: rotateZ( 20deg );
    }
} 