.home {
    @include flex-wrap( nowrap, column, center, center );
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;

    .home-view {
        @extend %scroll-page-template;
        padding: 0;
        position: relative;
        width: 100%;
        height: 100vh;
        top: 0;

        .loading-screen {
            @include flex-wrap( nowrap, row, center, center );
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            padding-bottom: $xxxl;
            background-color: $secondary;
            z-index: 901;
            visibility: hidden;
            animation: loadScreen 3s ease-in;

            svg {
                animation: loadLogo 3s ease-in;
            }
        }

        .home-section {
            @include flex-wrap( wrap, column, center, center );
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            pointer-events: none;
            overflow: hidden;

            .home-wrap {
                @extend %desktop-margin;
                position: relative;
                display: grid;
                grid-auto-columns: calc(100% / 12);
                width: 100%;
                height: 100%;
                max-height: 100vh;

                .recommend-wrap {
                    @include flex-wrap( nowrap, row, start, center );
                    grid-column: 1 / 12;
                    width: 100%;
                    height: 100%;

                    article {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .home-left-1 {
                // transform: scale(2) translate(-30vw, 20vw);
                position: absolute;
                grid-column: 1 / 6;
                animation: homeIn 3s 1.5s ease-in-out forwards alternate;
                overflow: hidden;
                
                .banner-img-wrap {
                    @include flex-wrap( nowrap, row, start, center );
                    width: fit-content;
                    height: 100vh;
                    // top: - $xxl;
                    z-index: 2;
                    @extend %float-img;

                    > img {
                        height: 100%;
                        aspect-ratio: 1 / 1;
                    }
                    .hat-overlay {
                        position: absolute;
                        z-index: 4;
                        animation: hatGlow 1s linear infinite alternate;
                    }
                    .gif-overlay {
                        z-index: 3;
                    }
                    .gif-bg {
                        z-index: 1;
                    }
                    .banner-svg {
                        height: 100%;
                        z-index: 20;
                        aspect-ratio: 1 / 1;
                        position: absolute;
                        z-index: 2;

                        svg {
                            width: 100%;

                            .glasses {
                                fill: transparent;
                                stroke: #b2e4ff;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 4px;
                            }
                            .glasses-frame {
                                stroke-dasharray: 1400;
                                animation: glassesFrame 4s infinite both;
                            }
                            .glasses-left {
                                stroke-dasharray: 1000;
                                animation: glassesLeft 4s infinite both;
                            }
                            .glasses-right {
                                stroke-dasharray: 1000;
                                animation: glassesRight 4s 0.3s infinite both;
                            }
                            .glasses-accent1 {
                                stroke-dasharray: 1000;
                                animation: glassesAccent1 4s 0.3s infinite both;
                            }
                            .glasses-accent2 {
                                stroke-dasharray: 1000;
                                animation: glassesAccent2 4s 0.3s infinite both;
                            }
                            .glasses-accent3 {
                                stroke-dasharray: 1000;
                                animation: glassesAccent3 4s 0.3s infinite both;
                            }
                        }
                    }
                }
            }
            article {
                @include flex-wrap( nowrap, column, start, start );
                grid-column: 7 / 13;
                width: 100%;
                height: 100%;
                height: fit-content;
                padding-top: $lg;
                z-index: 10;

                // h1 {
                //     // mask: url('../masks/inkmask-left.png');
                //     // mask-size: 100% 3300%;
                //     // animation: maskLeft 1s steps(32) forwards;
                // }
                h1 {
                    font-size: 100px;
                    top: $lg;
                    @extend %float-title;   
                }
                .home-text-wrap {
                    @include flex-wrap( nowrap, column, start, start );
                    position: relative;
                    width: 100%;
                    margin-top: - $xl;

                    .home-buttons-wrap {
                        @include flex-wrap( wrap, row, start, center );
                        width: 100%;
                        gap: 20px;
                        margin-top: $md;
                        margin-left: $xxl;
                    }
                }
                h2 {
                    @extend %shimmer;   
                    // width: 100%;
                    margin: 0;
                    // left: 20%;           
                }
            }
            .article-wrap {
                grid-column: 9 / 13;
                grid-row: 1;
                margin-top: 90px;
                border-radius: $sm;
                // background-color: rgba($accent, 0.2);
                // backdrop-filter: blur(10px);
                bottom: 0;

                .article-content {
                    width: 100%;

                    .featured-heading-wrap {
                        width: 100%;
                        @include flex-wrap( wrap, row, start, center );
                        gap: $sm;

                        .featured-heading-float {
                            @include flex-wrap( wrap, row, start, center );
                            @extend %float-heading;
                        }
                    }
                    .p-padding {
                        padding: $md 0;
                    }
                }
            }
            .window-wrap {
                @include flex-wrap( nowrap, row, start, start );
                position: relative;
                grid-column: 1 / 9;
                grid-row: 1;
                width: 100%;
                height: 100%;
                padding-top: 90px;
                padding-right: $md;

                .window, .window-bar, .window-bg, .bgbg {
                    position: absolute;
                    margin-left: - $lg;
                    width: 100%;
                }
                .window, .window-bar {
                    animation: hatGlow 1s linear infinite alternate;
                }
                .window {
                    z-index: 3;
                }
                .window-bar {
                    z-index: 2;
                }
                .window-bg {
                    z-index: 1;
                }
                .window-video {
                    aspect-ratio: 16 / 9;
                    max-width: 97%;
                    margin-top: $lg + 25px;
                    margin-left: 0;

                    video {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .logo-wrap {
            position: absolute;
            width: 100vh;
            height: 100%;
            top: 8vh;
            left: 30vh;
            opacity: 20%;
            overflow: hidden;
            z-index: 1;

            > svg {
                margin-top: 10%;
                scale: 2.5;
            }
        }
        .home-footer {
            @include flex-wrap( nowrap, column, start, start );
        }
    }
}
@keyframes maskUp {
    0% {
        mask-position: 0 0;
    }
    100% {
        mask-position: 100% 0;
    }
}
@keyframes maskLeft {
    0% {
        mask-position: 0 100%;
    }
    100% {
        mask-position: 0 0;
    }
}
@keyframes hatGlow {
    0% {
        opacity: 100%;
    }
    10% {
        opacity: 80%;
    }
    20% {
        opacity: 100%;
    }
    30% {
        opacity: 90%;
    }
    40% {
        opacity: 100%;
    }
    50% {
        opacity: 70%;
    }
    60% {
        opacity: 80%;
    }
    70% {
        opacity: 100%;
    }
    80% {
        opacity: 90%;
    }
    90% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
}

//Glasses
@keyframes glassesFrame{
    from{
        stroke-dashoffset: 1500;
    }
    to{
        stroke-dashoffset: -1400;
    }
}
@keyframes glassesLeft{
    from{
        stroke-dashoffset: -500;
    }
    to{
        stroke-dashoffset: 1400;
    }
}
@keyframes glassesRight{
    from{
        stroke-dashoffset: 1100;
    }
    to{
        stroke-dashoffset: -1000;
    }
}
@keyframes glassesAccent1{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: -1000;
    }
}
@keyframes glassesAccent2{
    from{
        stroke-dashoffset: -100;
    }
    to{
        stroke-dashoffset: 1900;
    }
}
@keyframes glassesAccent3{
    from{
        stroke-dashoffset: -200;
    }
    to{
        stroke-dashoffset: 1800;
    }
}

@keyframes loadScreen {
    0% {
        opacity: 100%;
        visibility: visible;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes loadLogo {
    0% {
        transform: scale( 1.2 );
    }
    80% {
        transform: scale( 1.2 );
        filter: blur( 0 );
    }
    100% {
        transform: scale( 0.5 );
        filter: blur( 10px );
    }
}

.homeInPage1 {
    animation: homeIn 6s ease-in-out forwards alternate;

    @keyframes homeIn {
        0% {
            transform: scale( 2 ) translate( -30vw, 20vw );
            filter: blur( 10px );
            opacity: 0%;
        }
        100% {
            transform: scale( 1 ) translate( 0, 0 );
            filter: blur( 0px );
            opacity: 100%;
        }
    }
}

.flyin-1 {
    animation: flyin1 2s ease-in-out forwards;
}
.flyin-2 {
    animation: flyin2 2s 0.5s ease-in-out forwards;
}
.flyin-3 {
    animation: flyin3 2s 1s ease-in-out forwards;
}