.btn {
    @extend %heading-style;
    @include flex-wrap( nowrap, row, center, center );
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 2px white;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $xs;
        opacity: 100%;
        z-index: -1;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
        transition: 0.2s ease-in-out;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid 2px white;
        border-radius: $lg;
        opacity: 0%;
        z-index: -2;
        box-shadow: 0 0 5px $primary, 0 0 20px $primary, 0 0 50px $primary, 0 0 100px $primary;
        transition: 0.2s ease-in-out;
    }

    p {
        @extend %text-glow;
    }
    
    &:hover {
    background-color: $primary;
    border-radius: $lg;
    border: solid 2px white;

        &:before {
            opacity: 0%;
        }
        &:after {
            opacity: 100%;
        }
        > p {
            animation: hoverSquishBtn .4s ease-in-out;

            &:after {
                z-index: -2;
                opacity: 100%;
            }
        }
    }
}