.btn {
    @extend %heading-style;
    @include flex-wrap( nowrap, row, center, center );
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: $xs $lg;
    border-radius: $xs;
    pointer-events: auto;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 2px white;
    z-index: 1;
    @include before-glow( $xs );
    @include after-glow( $lg );

    p {
        margin: 0;
    }
    
    &:hover {
    background-color: $primary;
    border-radius: $lg;
    border: solid 2px white;

        &:before {
            opacity: 0%;
        }
        &:after {
            opacity: 100%;
        }
        > p {
            animation: hoverSquishBtn .4s ease-in-out;

            &:after {
                z-index: -2;
                opacity: 100%;
            }
        }
    }
}
.btn-alt {
    border-color: $primary;

    &:before {
        box-shadow: 0 0 5px white, 0 0 10px $accent, 0 0 20px $accent;
    }
    &:hover {
        p {
            color: white !important;
        }
    }

    p {
        @include text-glow-primary( block );
    }
}
@media only screen and ( max-width: 500px ) {
    .btn > p {
        font-size: $md;
    }
}