.heading-float {
    span {
        --delay: calc(( (var( --num ) - 1 ) * 0.5s ));

        display: inline-block;
        color: transparent;
        -webkit-text-stroke: 2px white;
        transform: rotate( 4deg ) skew( -4deg ) translateY( -5px );
        display: inline-block;
        transition: transform .3s ease-in-out;
        animation: float 2s var(--delay) ease-in-out infinite alternate;

        &:before {
            position: absolute;
            color: transparent;
            text-shadow: none;
            -webkit-text-stroke: 2px white;
            content: attr( text-glow );
            top: 0;
            left: 0;
            z-index: 2;
            text-shadow: 
            .05vw 0vw .2vw #aca9ff, .1vw 0vw .2vw #d9d8ff, .2vw 0vw .2vw #d9d8ff,
            .1vw 0vw 0.3vw #6274ff, .2vw 0vw 0.3vw #6274ff, .4vw 0vw 0.3vw #6274ff,
            .1vw 0vw 0.5vw #6274ff, .2vw 0vw 0.5vw #6274ff, .4vw 0vw 0.5vw #6274ff,
            .1vw 0vw 1vw #450be5, .2vw 0vw 1vw #450be5, .4vw 0vw 3vw #450be5,
            .1vw 0vw 2vw #3a0be5, .2vw 0vw 2vw #3a0be5, .4vw 0vw 5vw #3a0be5;
            animation: neonFade 2s var(--delay) ease-in-out infinite alternate-reverse;
        }
        &:after {
            position: absolute;
            text-shadow: none;
            -webkit-text-stroke: 2px white;
            content: attr( text-glow );
            top: 0;
            left: 0;
            opacity: 0%;
            z-index: 2;
            text-shadow: 
            2px 0vw .2vw #ffd1c9, 4px 0vw .2vw #ffded8, 5px 0vw .2vw #ffded8,
            .1vw 0vw 0.3vw #f26e57, .2vw 0vw 0.3vw #f26e57, .4vw 0vw 0.3vw #f26e57,
            .1vw 0vw 0.5vw #f26e57, .2vw 0vw 0.5vw #f26e57, .4vw 0vw 0.5vw #f26e57,
            .1vw 0vw 1vw #ff7862, .2vw 0vw 1vw #ff7862, .4vw 0vw 3vw #ff7862,
            .1vw 0vw 2vw #ff7862, .2vw 0vw 2vw #ff7862, .4vw 0vw 5vw #ff7862;
            animation: neonFade 2s var(--delay) ease-in-out infinite alternate;
        }
    }
    :root {
        --num: 1;
    }
    span:nth-of-type( 8n + 1 ) {
        --num: 1;
    }
    span:nth-of-type( 8n + 2 ) {
        --num: 2;
    }
    span:nth-of-type( 8n + 3 ) {
        --num: 3;
    }
    span:nth-of-type( 8n + 4 ) {
        --num: 4;
    }
    span:nth-of-type( 8n + 5 ) {
        --num: 5;
    }
    span:nth-of-type( 8n + 6 ) {
        --num: 6;
    }
    span:nth-of-type( 8n + 7 ) {
        --num: 7;
    }
    span:nth-of-type( 8n + 8 ) {
        --num: 8;
    }
    @keyframes float {
        0% {
            transform: rotate( 4deg  ) skew( -4deg  ) translateY( -5px ) ;
        }
        100% {
            transform: rotate( -2deg  ) skew( 4deg  ) translateY( 5px ) ;
        }
    }
    @keyframes neonFade {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}

.artifact-title-float {
    margin-bottom: $md;
}