.scroll-down {
    @include flex-wrap( nowrap, row, start, center );
    position: absolute;
    width: 50%;
    height: $lg;
    gap: $xs;
    bottom: $xxl + $lg;
    left: 0;
    transition: 0.5s ease-in-out;

    .arrow-wrap {
        width: $lg;
        height: $lg;
        bottom: $xxl + $lg;
        left: 0;
        animation: arrowDown 3s ease-in-out infinite;

        .menu-stroke {
            stroke: $accent;
        }
        .menu-circle {
            fill: $accent;
        }
    }
    .arrow-heading-wrap {
        @include flex-wrap( nowrap, column, center, start );
        width: 100%;
        height: 100%;

        a {
            position: absolute;
            color: $accent;
            font-weight: 600;
        }
    }
}
@keyframes arrowDown {
    0% {
        transform: translateY( 0px );
    }
    20% {
        transform: translateY( -8px ) scaleY( 1.15 );
    }
    40% {
        transform: translateY( 8px ) scaleY( 0.75 );
    }
    60% {
        transform: translateY( 0px );
    }
    100% {
        transform: translateY( 0px );
    }
}