// STRIPES NATION
$sn-red: #ed1c24;
.sn-red {
    fill: $sn-red;
}

.menu-stroke {
    fill: #fff;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 70px;
}

.menu-circle {
    fill: #fff;
    stroke-width: 0px;
}

// === ICONS ===
$icon-grey: #ebebeb;
.icon-grey {
    fill: $icon-grey;
}

$icon-white: #fff;
.icon-white {
    fill: $icon-white;
}

// AFTER EFFECTS
$ae-light: #9898fe;
.ae-light {
    fill: $ae-light;
}

$ae-dark: #00005b;
.ae-dark {
    fill: $ae-dark;
}

// CSS
$css-light: #2965f1;
.css-light {
    fill: $css-light;
}

$css-dark: #264de4;
.css-dark {
    fill: $css-dark;
}

// FIGMA
.figma-purple, .figma-blue, .figma-green, .figma-orange, .figma-peach {
    fill-rule: evenodd;
}

$figma-purple: #a259ff;
.figma-purple {
    fill: $figma-purple;
}

$figma-blue: #1abcfe;
.figma-blue {
    fill: $figma-blue;
}

$figma-green: #0acf83;
.figma-green {
    fill: $figma-green;
}

$figma-orange: #f24e1e;
.figma-orange {
    fill: $figma-orange;
}

$figma-peach: #ff7262;
.figma-peach {
    fill: $figma-peach;
}

$figma-bg: #2e303a;
.figma-bg {
    fill: $figma-bg;
}

// HTML
$html-light: #f16529;
.html-light {
    fill: $html-light;
}
$html-dark: #e44d26;
.html-dark {
    fill: $html-dark;
}

// ILLUSTRATOR
$ai-light: #ff9a00;
.ai-light {
    fill: $ai-light;
}
$ai-dark: #300;
.ai-dark {
    fill: $ai-dark;
}

// JAVASCRIPT
$js-light: #f0db4f;
.js-light {
    fill: $js-light;
}
$js-dark: #323330;
.js-dark {
    fill: $js-dark;
}

// PHOTOSHOP
$ps-light: #31a8ff;
.ps-light {
    fill: $ps-light;
}
$ps-dark: #001e36;
.ps-dark {
    fill: $ps-dark;
}

// REACT
$react-light: #01daff;
.react-light {
    fill: $react-light;
}
$react-dark: #222;
.react-dark {
    fill: $react-dark;
}

// SASS
$sass-dark: #cd669a;
.sass-dark {
    fill: $sass-dark;
}

// WEBFLOW
$webflow-dark: #146df5;
.webflow-dark {
    fill: $webflow-dark;
}

%svg-grey {
    .icon-grey, .icon-white, .ae-light, .css-light, .figma-purple, .figma-blue, .figma-green, .figma-orange, .figma-peach, .ai-light, .js-dark, .ps-light, .react-light {
        transition: 0.5s ease-in-out;
        fill: transparent;
        }
    .ae-dark, .css-dark, .figma-bg, .html-light, .html-dark, .ai-dark, .js-light, .ps-dark, .react-dark, .sass-dark, .webflow-dark {
        transition: 0.5s ease-in-out;
        fill: $accent;
    }
}

%svg-color {
    .icon-grey {
        fill: $icon-grey !important;
    }
    .icon-white {
        fill: $icon-white !important;
    }
    .ae-light {
        fill: $ae-light !important;
    }
    .ae-dark {
        fill: $ae-dark !important;
    }
    .css-light {
        fill: $css-light !important;
    }
    .css-dark {
        fill: $css-dark !important;
    }
    .figma-purple {
        fill: $figma-purple !important;
    }
    .figma-blue {
        fill: $figma-blue !important;
    }
    .figma-green {
        fill: $figma-green !important;
    }
    .figma-orange {
        fill: $figma-orange !important;
    }
    .figma-peach {
        fill: $figma-peach !important;
    }
    .figma-bg {
        fill: $figma-bg !important;
    }
    .html-light {
        fill: $html-light !important;
    }
    .html-dark {
        fill: $html-dark !important;
    }
    .ai-light {
        fill: $ai-light !important;
    }
    .ai-dark {
        fill: $ai-dark !important;
    }
    .js-light {
        fill: $js-light !important;
    }
    .js-dark {
        fill: $js-dark !important;
    }
    .ps-light {
        fill: $ps-light !important;
    }
    .ps-dark {
        fill: $ps-dark !important;
    }
    .react-light {
        fill: $react-light !important;
    }
    .react-dark {
        fill: $react-dark !important;
    }
    .sass-dark {
        fill: $sass-dark !important;
    }
    .webflow-dark {
        fill: $webflow-dark !important;
    }
}