h3, h2, h1 {
  font-family: "Rubik";
  color: white;
  transition: 0.2s ease-in-out;
}

button, a, li, p {
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.5;
  color: white;
  transition: 0.2s ease-in-out;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

button {
  padding: 12px 32px;
  line-height: 24px;
  border-radius: 4px;
  pointer-events: auto;
  cursor: pointer;
  color: black;
  background-color: white;
  border: solid 3px white;
}

button:hover {
  color: white;
  background-color: #ff7862;
  border: solid 3px #ff7862;
}

.btn-outline {
  color: white;
  background-color: transparent;
  border: solid 3px white;
}

body {
  position: relative;
  top: 0;
  margin: 0;
  width: 100%;
}

#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  width: calc(100% - 64px);
  padding: 64px 32px 0 32px;
  background-color: #060e1a;
}

main, nav {
  width: 100%;
  max-width: 1280px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.line-r-accent, .line-p-accent, .line-r, .line-p, .line-y {
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
}

.line-y {
  stroke-dasharray: 2200;
  animation: drawy 4s 0.3s infinite alternate both;
}

.line-p {
  stroke-dasharray: 1100;
  animation: drawp 4s 0.3s infinite alternate both;
}

.line-r {
  stroke-dasharray: 1400;
  animation: drawr 4s 0.3s infinite alternate both;
}

@keyframes drawy {
  from {
    stroke-dashoffset: 2200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawp {
  0% {
    stroke-dashoffset: -1100;
  }
  70% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawr {
  0% {
    stroke-dashoffset: 1400;
  }
  27% {
    stroke-dashoffset: 1400;
  }
  73% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 400;
  }
}
.line-r-accent, .line-p-accent {
  stroke-width: 3px;
}

.line-p-accent {
  stroke-dasharray: 1100;
  animation: drawp 4s 0.3s infinite alternate both;
}

.line-r-accent {
  stroke-dasharray: 1000;
  animation: drawr 4s 0.3s infinite alternate both;
}

.base-y, .base-p, .base-r {
  stroke-width: 0;
  fill: transparent;
}

.base-r-mask, .base-p-mask, .base-y-mask {
  width: 100%;
  height: 100%;
  border: none;
  fill: white;
}

.base-y-mask {
  -webkit-mask: url("../masks/inkmask-left.png");
          mask: url("../masks/inkmask-left.png");
  -webkit-mask-size: 100% 3300%;
          mask-size: 100% 3300%;
  animation: ani-ymask 4s steps(32) infinite alternate;
}

.base-p-mask {
  -webkit-mask: url("../masks/inkmask-inv.png");
          mask: url("../masks/inkmask-inv.png");
  -webkit-mask-size: 3300% 100%;
          mask-size: 3300% 100%;
  animation: ani-pmask 4s steps(32) infinite alternate;
}

.base-r-mask {
  -webkit-mask: url("../masks/inkmask-right.png");
          mask: url("../masks/inkmask-right.png");
  -webkit-mask-size: 100% 3300%;
          mask-size: 100% 3300%;
  animation: ani-rmask 4s steps(32) infinite alternate;
}

@keyframes ani-ymask {
  0% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  31% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  51% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
}
@keyframes ani-pmask {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  27% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  47% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}
@keyframes ani-rmask {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  28% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  48% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  100% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
}
* {
  cursor: none !important;
}

a:hover ~ .cursor {
  scale: 2;
}

.cursor {
  width: 18px;
  height: 26px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}
.cursor .cursor-fill {
  fill: white;
  scale: 4.4;
  transform: translate(-18px, -15.5px);
}
.cursor .cursor-dot {
  fill: #ff7862;
  scale: 4.4;
  transform: translate(-18px, -15.5px);
  transition: 2s ease-in-out;
  animation: dotPulse 1s ease-in-out alternate infinite;
}

.doc-click {
  animation: docClick 0.2s ease-in-out forwards;
}

@keyframes docClick {
  0% {
    scale: 4.4;
  }
  50% {
    scale: 3.6;
  }
  100% {
    scale: 4.4;
  }
}
@keyframes dotPulse {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}
nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex: 0 1 auto;
  position: fixed;
  top: 0;
  height: 80px;
  z-index: 900;
}
nav .nav-left {
  position: absolute;
  left: 0;
  width: 64px;
  overflow: hidden;
}
nav .nav-left .nav-logo-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}
nav .nav-left .nav-logo-wrap > svg {
  margin-top: -8px;
  margin-right: 1px;
  scale: 4.9;
}
nav .nav-left .nav-logo-wrap > svg .line-nav, nav .nav-left .nav-logo-wrap > svg .accent-nav {
  stroke-width: 8px;
}
nav .nav-left .nav-logo-wrap > svg .base-nav {
  transition: 0.2s ease-in-out;
}
nav .nav-left .nav-logo-wrap:hover .base-nav {
  fill: #ff7862;
}
nav .nav-mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  position: absolute;
  margin-right: 216px;
}
nav .nav-mid .nav-heading {
  padding: 12px 32px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}
nav .nav-mid .nav-heading:hover {
  animation: hoverSquish 0.4s 0.05s ease-in-out;
}
nav .nav-mid .nav-home:hover ~ .nav-heading-bg {
  width: 133.52px;
  background-color: #ff7862;
}
nav .nav-mid .nav-about:hover ~ .nav-heading-bg {
  width: 137.52px;
  transform: translateX(149.52px);
  background-color: #ff7862;
}
nav .nav-mid .nav-projects:hover ~ .nav-heading-bg {
  width: 162.07px;
  transform: translateX(303.04px);
  background-color: #ff7862;
}
nav .nav-mid .nav-heading-bg {
  animation: navLoad 0.5s ease-in-out;
}
nav .nav-home:hover ~ .nav-about,
nav .nav-home:hover ~ .nav-projects {
  color: #8fb6ef;
  opacity: 75%;
}
nav .nav-mid:has(.nav-about:hover) .nav-home,
nav .nav-about:hover ~ .nav-projects {
  color: #8fb6ef;
  opacity: 75%;
}
nav .nav-mid:has(.nav-projects:hover) .nav-home,
nav .nav-mid:has(.nav-projects:hover) .nav-about {
  color: #8fb6ef;
  opacity: 75%;
}
nav .nav-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  position: absolute;
  right: -6px;
}
nav .nav-right .nav-icon-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: relative;
  gap: 12px;
  padding: 0 6px;
}
nav .nav-right .nav-icon-wrap .nav-icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  z-index: 2;
}
nav .nav-right .nav-icon-wrap .nav-icon:hover > svg {
  animation: svgRotate 0.6s ease-in-out forwards alternate infinite;
}
nav .nav-right .nav-icon-wrap .nav-icon > svg {
  fill: white;
  transition: 0.2s ease-in-out;
}
nav .nav-right .nav-icon-wrap .nav-email:hover ~ .nav-icon-bg {
  width: 48px;
  transform: translateX(-132px);
  background-color: #ff7862;
}
nav .nav-right .nav-icon-wrap .nav-linkedin:hover ~ .nav-icon-bg {
  width: 48px;
  transform: translateX(-72px);
  background-color: #ff7862;
}
nav .nav-right .nav-icon-wrap .nav-github {
  margin-right: 12px;
}
nav .nav-right .nav-icon-wrap .nav-github:hover ~ .nav-icon-bg {
  width: 48px;
  transform: translateX(-12px);
  background-color: #ff7862;
}
nav .nav-email:hover ~ .nav-linkedin > svg,
nav .nav-email:hover ~ .nav-github > svg {
  fill: #8fb6ef;
  opacity: 75%;
}
nav .nav-right:has(.nav-linkedin:hover) .nav-email > svg,
nav .nav-linkedin:hover ~ .nav-github > svg {
  fill: #8fb6ef;
  opacity: 75%;
}
nav .nav-right:has(.nav-github:hover) .nav-linkedin > svg,
nav .nav-right:has(.nav-github:hover) .nav-email > svg {
  fill: #8fb6ef;
  opacity: 75%;
}

nav .nav-mid .nav-heading-bg, nav .nav-right .nav-icon-wrap .nav-icon-bg {
  position: absolute;
  background-color: rgba(6, 14, 26, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-sizing: border-box;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

@keyframes hoverSquish {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
  0% {
    transform: scaleX(1);
  }
}
@keyframes svgRotate {
  50% {
    transform: rotateZ(-20deg);
  }
  to {
    transform: rotateZ(20deg);
  }
}
.about section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.about section > article {
  width: 50%;
}
.about section > article h1, .about section > article h2 {
  font-size: 64px;
}
.about section > article p {
  margin-top: 0;
}
.about section > article span {
  margin-left: 96px;
}
.about section > article strong {
  color: #ff7862;
}
.about section > div {
  width: 50%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */