h3, h2, h1 {
  font-family: "Rubik";
  color: white;
  transition: 0.2s ease-in-out;
}

button, a, p, li {
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
  color: white;
  transition: 0.2s ease-in-out;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

p, li {
  font-size: 18px;
}

a {
  font-size: 18px;
  text-decoration: none;
}

button {
  padding: 8px 24px;
  border-radius: 4px;
  pointer-events: auto;
  cursor: pointer;
  color: black;
  background-color: white;
  border: solid 3px white;
}

button:hover {
  color: white;
  background-color: #ff7862;
  border: solid 3px #ff7862;
}

.btn-outline {
  color: white;
  background-color: transparent;
  border: solid 3px white;
}

body {
  position: relative;
  top: 0;
  margin: 0;
  width: 100%;
  background-color: #060e1a;
}

* {
  cursor: none !important;
}

.cursor {
  width: 18px;
  height: 26px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}
.cursor .cursor-fill {
  fill: white;
  scale: 4.4;
  transform: translate(-18px, -15.5px);
}
.cursor .cursor-dot {
  fill: #ff7862;
  scale: 4.4;
  transform: translate(-18px, -15.5px);
  transition: 2s ease-in-out;
  animation: dotPulse 1s ease-in-out alternate infinite;
}

.doc-click {
  animation: docClick 0.2s ease-in-out forwards;
}

@keyframes docClick {
  0% {
    scale: 4.4;
  }
  50% {
    scale: 3.6;
  }
  100% {
    scale: 4.4;
  }
}
@keyframes dotPulse {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}
#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 64px;
}

.test {
  width: 20px;
  height: 20px;
  background-color: red;
}

main, nav {
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
}

.r-dot, .p-dot, .r-outline, .p-outline, .y-outline {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 1.25px;
}

.r-fill, .p-fill, .y-fill {
  fill: white;
}

@keyframes logo-y-hover {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.07;
  }
  40% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes logo-p-hover {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes logo-r-hover {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.line-y {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 2200;
  animation: drawy 4s 0.3s infinite alternate both;
}

@keyframes drawy {
  from {
    stroke-dashoffset: 2200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.line-p {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1100;
  animation: drawp 4s 0.3s infinite alternate both;
}

@keyframes drawp {
  0% {
    stroke-dashoffset: -1100;
  }
  70% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.line-r {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1400;
  animation: drawr 4s 0.3s infinite alternate both;
}

@keyframes drawr {
  0% {
    stroke-dashoffset: 1400;
  }
  27% {
    stroke-dashoffset: 1400;
  }
  73% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 400;
  }
}
.line-p-accent {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1100;
  animation: drawp 4s 0.3s infinite alternate both;
}

.line-r-accent {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  animation: drawr 4s 0.3s infinite alternate both;
}

.base-y {
  stroke-width: 0;
  fill: transparent;
}

@keyframes basey {
  0% {
    opacity: 0%;
  }
  18% {
    opacity: 0%;
  }
  23% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.base-p {
  stroke-width: 0;
  fill: transparent;
}

@keyframes basep {
  0% {
    opacity: 0%;
    transform: translate(-5px, -5px);
  }
  26% {
    opacity: 0%;
    transform: translate(-5px, -5px);
  }
  31% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}
.base-r {
  stroke-width: 0;
  fill: transparent;
}

@keyframes baser {
  0% {
    opacity: 0%;
    transform: translate(-5px, -5px);
  }
  34% {
    opacity: 0%;
    transform: translate(-5px, -5px);
  }
  39% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}
body {
  background-color: black;
  margin: 0%;
}

.landing-h {
  font-family: "Qanelas";
  position: absolute;
  margin-top: 33%;
  font-size: 48px;
  color: white;
}

.mainbg-wrap {
  position: fixed;
  width: 100vw;
  height: 100%;
  /* max-height: 100vh; */
  margin: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainbg-mask {
  position: absolute;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.mainbg {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../masks/inkmask.png");
          mask: url("../masks/inkmask.png");
  -webkit-mask-size: 3300% 100%;
          mask-size: 3300% 100%;
  border: none;
  font-family: "Archivo Black";
  font-size: 24px;
  background-color: black;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  /* animation: main-ani01 4s steps(32) infinite alternate both; */
  animation: main-ani02 4s 0.3s steps(32) both;
}

@keyframes main-ani01 {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  7% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  32% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}
@keyframes main-ani02 {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  12% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  37% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}
.mainbg-img {
  width: 100vw;
}

.base-y-mask {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../masks/inkmask-left.png");
          mask: url("../masks/inkmask-left.png");
  -webkit-mask-size: 100% 3300%;
          mask-size: 100% 3300%;
  border: none;
  fill: white;
  animation: ani-ymask 4s steps(32) infinite alternate;
}

@keyframes ani-ymask {
  0% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  31% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  51% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
}
.base-p-mask {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../masks/inkmask-inv.png");
          mask: url("../masks/inkmask-inv.png");
  -webkit-mask-size: 3300% 100%;
          mask-size: 3300% 100%;
  border: none;
  fill: white;
  animation: ani-pmask 4s steps(32) infinite alternate;
}

@keyframes ani-pmask {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  27% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  47% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}
.base-r-mask {
  width: 100%;
  height: 100%;
  -webkit-mask: url("../masks/inkmask-right.png");
          mask: url("../masks/inkmask-right.png");
  -webkit-mask-size: 100% 3300%;
          mask-size: 100% 3300%;
  fill: white;
  border: none;
  animation: ani-rmask 4s steps(32) infinite alternate;
}

@keyframes ani-rmask {
  0% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  28% {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
  }
  48% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
  100% {
    -webkit-mask-position: 0 100%;
            mask-position: 0 100%;
  }
}
nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex: 0 1 auto;
  position: fixed;
  top: 0;
  height: 64px;
  z-index: 900;
}
nav .nav-left {
  position: absolute;
  left: 20px;
  width: 47px;
}
nav .nav-left .nav-logo-wrap {
  width: 47px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .nav-left .nav-logo-wrap .nav-logo:hover {
  background-color: transparent;
}
nav .nav-mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  position: absolute;
  margin-right: 210px;
}
nav .nav-mid .nav-heading {
  padding: 10px 26px;
  font-weight: 800;
}
nav .nav-mid .nav-heading:hover {
  animation: hoverSquish 0.4s 0.05s ease-in-out;
}
nav .nav-mid .nav-home:hover ~ .nav-heading-bg {
  width: 104.14px;
  background-color: #ff7862;
}
nav .nav-mid .nav-about:hover ~ .nav-heading-bg {
  width: 107.15px;
  transform: translateX(124.14px);
  background-color: #ff7862;
}
nav .nav-mid .nav-projects:hover ~ .nav-heading-bg {
  width: 126.04px;
  transform: translateX(251.29px);
  background-color: #ff7862;
}
nav .nav-mid .nav-heading-bg {
  animation: navLoad 0.5s ease-in-out;
}
nav .nav-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  position: absolute;
  right: 20px;
}
nav .nav-right .nav-icon-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: relative;
  gap: 10px;
  padding: 0 8px;
}
nav .nav-right .nav-icon-wrap .nav-icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  z-index: 2;
}
nav .nav-right .nav-icon-wrap .nav-icon:hover > svg {
  animation: svgRotate 0.6s ease-in-out forwards alternate infinite;
}
nav .nav-right .nav-icon-wrap .nav-icon > svg {
  fill: white;
}
nav .nav-right .nav-icon-wrap .nav-email:hover ~ .nav-icon-bg {
  width: 44px;
  transform: translateX(-124px);
  background-color: #ff7862;
}
nav .nav-right .nav-icon-wrap .nav-linkedin:hover ~ .nav-icon-bg {
  width: 44px;
  transform: translateX(-70px);
  background-color: #ff7862;
}
nav .nav-right .nav-icon-wrap .nav-github {
  margin-right: 16px;
}
nav .nav-right .nav-icon-wrap .nav-github:hover ~ .nav-icon-bg {
  width: 44px;
  transform: translateX(-16px);
  background-color: #ff7862;
}
nav .nav-mid .nav-heading-bg, nav .nav-right .nav-icon-wrap .nav-icon-bg {
  position: absolute;
  background-color: rgba(6, 14, 26, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-sizing: border-box;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

@keyframes hoverSquish {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
  0% {
    transform: scaleX(1);
  }
}
@keyframes svgRotate {
  50% {
    transform: rotateZ(-20deg);
  }
  to {
    transform: rotateZ(20deg);
  }
}/*# sourceMappingURL=style.css.map */